In [1]:
import pandas as pd

In [18]:
df = pd.read_csv("fortune_data.csv")
df.head(3)

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [21]:
df["Rank"].nunique()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rank       1000 non-null   int64
 1   Company    1000 non-null   object
 2   Sector     1000 non-null   object
 3   Industry   1000 non-null   object
 4   Location   1000 non-null   object
 5   Revenue    1000 non-null   int64
 6   Profits    1000 non-null   int64
 7   Employees  1000 non-null   int64
dtypes: int64(4), object(4)
memory usage: 62.6+ KB

In [4]:
df["Sector"].nunique()

21

In [5]:
df["Industry"].nunique()

73

In [13]:
len(sector_group)

21

In [15]:
df["Sector"].nunique()

21

In [7]:
sector_group = df.groupby("Sector")

In [10]:
df.iloc[90]

Rank                    91
Company               Nike
Sector             Apparel
Industry           Apparel
Location     Beaverton, OR
Revenue              30601
Profits               3273
Employees            62600
Name: 90, dtype: object

In [11]:
sector_group.groups

{'Aerospace & Defense': [23, 44, 59, 87, 117, 119, 208, 244, 281, 377, 388, 489, 559, 604, 784, 787, 835, 902, 957, 986], 'Apparel': [90, 230, 339, 353, 447, 546, 574, 596, 682, 694, 725, 793, 876, 881, 916], 'Business Services': [143, 185, 198, 203, 220, 247, 248, 293, 306, 311, 354, 391, 403, 439, 466, 467, 480, 484, 491, 502, 544, 625, 634, 651, 676, 693, 713, 728, 733, 734, 736, 743, 766, 775, 776, 782, 790, 791, 795, 800, 802, 815, 818, 819, 868, 869, 885, 938, 950, 951, 992], 'Chemicals': [55, 100, 181, 188, 205, 252, 261, 276, 287, 295, 315, 537, 548, 554, 565, 579, 612, 623, 653, 667, 716, 719, 723, 757, 760, 828, 864, 897, 933, 948], 'Energy': [1, 13, 29, 31, 41, 64, 89, 94, 97, 103, 114, 116, 120, 161, 162, 164, 165, 174, 177, 187, 189, 191, 192, 197, 213, 215, 216, 222, 224, 228, 242, 245, 246, 256, 271, 273, 278, 288, 318, 321, 323, 342, 347, 348, 349, 362, 363, 383, 386, 387, 393, 401, 402, 409, 424, 436, 437, 444, 457, 474, 482, 492, 506, 521, 540, 547, 555, 557, 568, 570, 578, 597, 599, 605, 632, 649, 655, 661, 678, 691, 695, 702, 703, 705, 710, 714, 731, 741, 742, 744, 753, 771, 783, 797, 801, 809, 816, 825, 842, 849, ...], 'Engineering & Construction': [154, 155, 234, 259, 300, 313, 351, 380, 432, 477, 497, 500, 515, 571, 575, 639, 718, 737, 821, 862, 873, 891, 928, 962, 984, 993], 'Financials': [3, 15, 22, 25, 26, 28, 34, 39, 42, 48, 49, 60, 68, 72, 73, 75, 77, 80, 81, 82, 84, 99, 104, 111, 113, 130, 134, 136, 151, 170, 178, 183, 204, 209, 221, 225, 226, 231, 235, 249, 251, 258, 263, 264, 270, 272, 274, 282, 297, 305, 310, 317, 325, 328, 331, 343, 346, 366, 367, 375, 381, 397, 400, 410, 420, 435, 441, 448, 452, 453, 470, 471, 472, 475, 478, 481, 485, 487, 493, 496, 498, 505, 508, 509, 519, 528, 530, 535, 539, 550, 560, 567, 572, 589, 602, 608, 610, 645, 650, 662, ...], 'Food and Drug Stores': [6, 16, 18, 86, 106, 159, 180, 594, 613, 630, 668, 755, 808, 848, 927], 'Food, Beverages & Tobacco': [40, 43, 61, 65, 83, 93, 105, 148, 152, 160, 175, 206, 214, 241, 265, 303, 335, 336, 361, 396, 412, 428, 451, 455, 459, 534, 541, 566, 573, 586, 607, 614, 635, 663, 685, 701, 769, 786, 794, 803, 888, 901, 953], 'Health Care': [4, 5, 11, 20, 21, 32, 38, 45, 51, 54, 62, 71, 78, 85, 122, 123, 124, 129, 137, 139, 140, 167, 171, 199, 200, 201, 262, 267, 277, 285, 286, 289, 290, 304, 324, 357, 358, 371, 419, 429, 430, 446, 456, 464, 468, 514, 526, 536, 552, 558, 582, 617, 628, 660, 683, 692, 696, 707, 745, 748, 765, 774, 789, 798, 814, 817, 844, 867, 880, 882, 934, 959, 964, 976, 977], 'Hotels, Resturants & Leisure': [108, 145, 194, 217, 240, 253, 308, 370, 443, 465, 533, 545, 556, 561, 584, 730, 762, 763, 778, 796, 894, 914, 917, 940, 998], 'Household Products': [33, 150, 173, 255, 260, 327, 337, 344, 369, 433, 440, 449, 454, 532, 549, 553, 600, 664, 698, 715, 855, 889, 899, 906, 931, 949, 966, 991], 'Industrials': [10, 58, 74, 92, 96, 127, 133, 147, 210, 223, 359, 376, 395, 411, 418, 538, 543, 595, 621, 622, 629, 644, 654, 657, 665, 673, 689, 756, 781, 788, 805, 812, 822, 830, 831, 834, 840, 846, 865, 866, 872, 886, 941, 946, 963, 999], 'Materials': [125, 126, 169, 243, 250, 302, 320, 340, 355, 372, 374, 382, 416, 417, 425, 434, 445, 479, 488, 513, 517, 576, 585, 615, 616, 619, 624, 627, 636, 638, 640, 659, 666, 686, 690, 750, 773, 792, 856, 884, 910, 981, 985], 'Media': [52, 95, 98, 202, 212, 254, 326, 365, 405, 413, 524, 529, 680, 704, 706, 721, 740, 751, 758, 761, 820, 912, 967, 968, 988], 'Motor Vehicles & Parts': [7, 8, 69, 146, 153, 168, 280, 309, 333, 338, 423, 427, 469, 587, 590, 603, 646, 669, 717, 738, 810, 956, 960, 978], 'Retailing': [0, 14, 27, 37, 46, 70, 88, 102, 110, 131, 135, 138, 142, 144, 176, 179, 190, 195, 196, 227, 233, 236, 237, 239, 257, 266, 268, 279, 292, 296, 298, 301, 329, 341, 345, 360, 364, 373, 378, 379, 392, 414, 426, 438, 494, 499, 501, 510, 511, 516, 522, 581, 591, 601, 606, 609, 620, 642, 643, 647, 656, 674, 688, 720, 747, 770, 772, 806, 811, 823, 824, 826, 839, 875, 893, 898, 921, 936, 939, 972], 'Technology': [2, 17, 19, 24, 30, 35, 50, 53, 76, 109, 112, 132, 149, 156, 157, 163, 172, 193, 218, 219, 229, 232, 283, 294, 299, 307, 312, 330, 384, 385, 399, 407, 408, 421, 450, 461, 463, 486, 490, 503, 504, 507, 512, 518, 523, 531, 542, 551, 562, 564, 583, 588, 592, 593, 611, 631, 633, 637, 648, 658, 672, 675, 677, 681, 687, 699, 724, 732, 735, 752, 759, 768, 777, 804, 829, 833, 841, 853, 863, 870, 887, 890, 892, 895, 903, 904, 905, 908, 911, 913, 918, 926, 930, 942, 943, 945, 955, 969, 970, 974, ...], 'Telecommunications': [9, 12, 36, 115, 158, 186, 291, 332, 398, 442, 460, 495, 525, 618, 785], 'Transportation': [47, 57, 66, 67, 79, 128, 141, 207, 238, 269, 352, 389, 394, 404, 406, 415, 431, 458, 520, 527, 569, 577, 641, 671, 708, 712, 739, 799, 813, 857, 883, 929, 932, 944, 971, 973], 'Wholesalers': [56, 63, 91, 101, 107, 118, 121, 166, 182, 184, 211, 275, 284, 314, 316, 319, 322, 334, 350, 356, 368, 390, 422, 462, 473, 476, 483, 563, 580, 598, 626, 652, 684, 726, 746, 779, 807, 836, 874, 990]}

In [12]:
sector_group.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [16]:
df

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...,...
995,996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
996,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
998,999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
999,1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [17]:
df["Sector"].value_counts()

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Materials                        43
Food, Beverages & Tobacco        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Media                            25
Hotels, Resturants & Leisure     25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Telecommunications               15
Apparel                          15
Food and Drug Stores             15
Name: Sector, dtype: int64

In [22]:
sector_group.get_group("Media")

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
52,53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
95,96,Twenty-First Century Fox,Media,Entertainment,"New York, NY",28987,8306,20500
98,99,Time Warner,Media,Entertainment,"New York, NY",28118,3833,24800
202,203,CBS,Media,Entertainment,"New York, NY",13886,1413,19080
212,213,Viacom,Media,Entertainment,"New York, NY",13268,1922,9445
254,255,R.R. Donnelley & Sons,Media,"Publishing, Printing","Chicago, IL",11257,151,68400
326,327,News Corp.,Media,"Publishing, Printing","New York, NY",8633,-147,25000
365,366,Live Nation Entertainment,Media,Entertainment,"Beverly Hills, CA",7246,-33,12200
405,406,Discovery Communications,Media,Entertainment,"Silver Spring, MD",6394,1034,7000
413,414,iHeartMedia,Media,Entertainment,"San Antonio, TX",6242,-755,18700
524,525,Liberty Media,Media,Entertainment,"Englewood, CO",4795,64,3503
529,530,Quad/Graphics,Media,"Publishing, Printing","Sussex, WI",4678,-642,22500
680,681,TEGNA,Media,Entertainment,"McLean, VA",3242,460,10020
704,705,Regal Entertainment Group,Media,Entertainment,"Knoxville, TN",3127,153,25915
706,707,Time,Media,"Publishing, Printing","New York, NY",3103,-881,7200
721,722,Scripps Networks Interactive,Media,Entertainment,"Knoxville, TN",3018,607,3500
740,741,Warner Music Group,Media,Entertainment,"New York, NY",2966,-91,4211
751,752,Gannett,Media,"Publishing, Printing","McLean, VA",2885,146,18700
758,759,Univision Communications,Media,Entertainment,"New York, NY",2858,-45,3700
761,762,Cinemark Holdings,Media,Entertainment,"Plano, TX",2853,217,17649
820,821,AMC Networks,Media,Entertainment,"New York, NY",2581,367,2341
912,913,Sinclair Broadcast Group,Media,Entertainment,"Hunt Valley, MD",2219,172,8000
967,968,American Greetings,Media,"Publishing, Printing","Cleveland, OH",2011,65,17650
968,969,Tribune Media,Media,Entertainment,"Chicago, IL",2011,-320,8000
988,989,Cenveo,Media,"Publishing, Printing","Stamford, CT",1921,-31,7300

In [23]:
sector_group.first()

,Rank,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,,
Aerospace & Defense,24,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,91,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,144,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,56,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,2,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,155,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,4,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,7,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",41,Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,5,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",109,McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,34,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,11,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,126,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,53,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,8,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,1,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,3,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,10,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,48,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,57,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [26]:
sector_group.get_group("Aerospace & Defense",)

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
23,24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
44,45,United Technologies,Aerospace & Defense,Aerospace and Defense,"Farmington, CT",61047,7608,197200
59,60,Lockheed Martin,Aerospace & Defense,Aerospace and Defense,"Bethesda, MD",46132,3605,126000
87,88,General Dynamics,Aerospace & Defense,Aerospace and Defense,"Falls Church, VA",31469,2965,99900
117,118,Northrop Grumman,Aerospace & Defense,Aerospace and Defense,"Falls Church, VA",23526,1990,65000
119,120,Raytheon,Aerospace & Defense,Aerospace and Defense,"Waltham, MA",23247,2074,61000
208,209,Textron,Aerospace & Defense,Aerospace and Defense,"Providence, RI",13423,697,35000
244,245,L-3 Communications,Aerospace & Defense,Aerospace and Defense,"New York, NY",11554,-240,38000
281,282,Precision Castparts,Aerospace & Defense,Aerospace and Defense,"Portland, OR",10056,1530,30106
377,378,Huntington Ingalls Industries,Aerospace & Defense,Aerospace and Defense,"Newport News, VA",7020,404,35995
388,389,Spirit AeroSystems Holdings,Aerospace & Defense,Aerospace and Defense,"Wichita, KS",6644,789,15200
489,490,Rockwell Collins,Aerospace & Defense,Aerospace and Defense,"Cedar Rapids, IA",5262,686,19500
559,560,Orbital ATK,Aerospace & Defense,Aerospace and Defense,"Dulles, VA",4369,159,12300
604,605,Triumph Group,Aerospace & Defense,Aerospace and Defense,"Berwyn, PA",3889,239,15153
784,785,B/E Aerospace,Aerospace & Defense,Aerospace and Defense,"Wellington, FL",2730,286,10057
787,788,TransDigm Group,Aerospace & Defense,Aerospace and Defense,"Cleveland, OH",2707,447,8200
835,836,Moog,Aerospace & Defense,Aerospace and Defense,"Elma, NY",2526,132,10691
902,903,Curtiss-Wright,Aerospace & Defense,Aerospace and Defense,"Charlotte, NC",2264,146,8400
957,958,Woodward,Aerospace & Defense,Aerospace and Defense,"Fort Collins, CO",2038,182,6955
986,987,Delta Tucker Holdings,Aerospace & Defense,Aerospace and Defense,"McLean, VA",1923,-133,12000

In [29]:
df [ df["Sector"]=="Energy" ]["Profits"]

1      16150
13      4587
29      4227
31      3990
41      2852
       ...
980    -1727
982       -1
994    -3748
996      172
997      172
Name: Profits, Length: 122, dtype: int64

In [52]:
sector_group.get_group("Energy")

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
13,14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
29,30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
31,32,Valero Energy,Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
41,42,Marathon Petroleum,Energy,Petroleum Refining,"Findlay, OH",64566,2852,45440
...,...,...,...,...,...,...,...,...
980,981,WPX Energy,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
982,983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
994,995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
996,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646

In [35]:
sector_group.max()

,Rank,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,,
Aerospace & Defense,987,Woodward,Aerospace and Defense,"Wichita, KS",96114,7608,197200
Apparel,917,Wolverine World Wide,Apparel,"Winston-Salem, NC",30601,3273,65300
Business Services,993,Western Union,Waste Management,"Troy, MI",19330,6328,216500
Chemicals,949,Westlake Chemical,Chemicals,"Wilmington, DE",48778,7685,52000
Energy,997,Xcel Energy,Utilities: Gas and Electric,"Washington, DC",246204,16150,75600
Engineering & Construction,994,Tutor Perini,Homebuilders,"Watsonville, CA",18114,803,92000
Financials,996,Zions Bancorp.,Securities,"Worcester, MA",210821,24442,331000
Food and Drug Stores,928,Whole Foods Market,Food and Drug Stores,"Woonsocket, RI",153290,5237,431000
"Food, Beverages & Tobacco",954,WhiteWave Foods,Tobacco,"Winston-Salem, NC",67702,7351,263000
Health Care,978,inVentiv Health,Wholesalers: Health Care,"York, PA",181241,18108,203500
"Hotels, Resturants & Leisure",999,Yum Brands,"Hotels, Casinos, Resorts","Wyomissing, PA",25413,5920,505000
Household Products,992,Vista Outdoor,Miscellaneous,"Zeeland, MI",78756,7036,110000
Industrials,1000,Zebra Technologies,Miscellaneous,"Wilmerding, PA",140389,4833,333000
Materials,986,Worthington Industries,"Packaging, Containers","Wyomissing, PA",22534,991,60000
Media,989,iHeartMedia,"Publishing, Printing","Sussex, WI",52465,8382,185000
Motor Vehicles & Parts,979,Wabash National,Motor Vehicles and Parts,"Van Buren Township, MI",152356,9687,215000
Retailing,973,hhgregg,Specialty Retailers: Other,"York, PA",482130,14694,2300000
Technology,990,salesforce.com,Semiconductors and Other Electronic Components,"Woburn, MA",233715,53394,411798
Telecommunications,786,Windstream Holdings,Telecommunications,"Stamford, CT",146801,17879,281450
Transportation,974,YRC Worldwide,"Trucking, Truck Leasing","Thomasville, NC",58363,7610,341240
Wholesalers,991,World Fuel Services,Wholesalers: Food and Grocery,"Waltham, MA",48681,1472,78500

In [36]:
sector_group.min()

,Rank,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,,
Aerospace & Defense,24,B/E Aerospace,Aerospace and Defense,"Berwyn, PA",1923,-240,6955
Apparel,91,Carter’s,Apparel,"Atlanta, GA",2204,82,5978
Business Services,144,ABM Industries,"Advertising, marketing","Arlington, VA",1910,-1481,2400
Chemicals,56,A. Schulman,Chemicals,"Allentown, PA",2084,-816,1979
Energy,2,AES,Energy,"Akron, OH",1898,-23119,480
Engineering & Construction,155,AECOM,"Engineering, Construction","Atlanta, GA",1909,-155,1036
Financials,4,AIG,Commercial Banks,"Atlanta, GA",1902,-1194,187
Food and Drug Stores,7,CVS Health,Food and Drug Stores,"Austin, TX",2151,-62,1616
"Food, Beverages & Tobacco",41,Alliance One International,Beverages,"Arden Hills, MN",2066,-253,1857
Health Care,5,AbbVie,Health Care: Insurance and Managed Care,"Abbott Park, IL",1987,-458,2924
"Hotels, Resturants & Leisure",109,Bloomin’ Brands,Food Services,"Ann Arbor, MI",1896,-1394,8500
Household Products,34,Avon Products,"Home Equipment, Furnishings","Atlanta, GA",1914,-1149,4406
Industrials,11,3M,Construction and Farm Machinery,"Annapolis Junction, MD",1895,-6126,4104
Materials,126,A-Mark Precious Metals,"Building Materials, Glass","Atlanta, GA",1924,-1642,52
Media,53,AMC Networks,Entertainment,"Beverly Hills, CA",1921,-881,2341
Motor Vehicles & Parts,8,Allison Transmission Holdings,Motor Vehicles and Parts,"Akron, OH",1986,-889,2700
Retailing,1,99 Cents Only Stores,"Automotive Retailing, Services","Ankeny, IA",1999,-1243,2155
Technology,3,Activision Blizzard,Computer Peripherals,"Angleton, TX",1920,-4359,2285
Telecommunications,10,AT&T,Telecommunications,"Bethpage, NY",2726,-271,2700
Transportation,48,Alaska Air Group,Airlines,"Atlanta, GA",1995,-191,1223
Wholesalers,57,Airgas,Miscellaneous,"Atlanta, GA",1917,-502,500

In [48]:
sector_group["Profits"].max().get("Energy")

16150

In [49]:
sectorNew = df.groupby([ "Sector","Industry"])

In [50]:
sectorNew.groups

{('Aerospace & Defense', 'Aerospace and Defense'): [23, 44, 59, 87, 117, 119, 208, 244, 281, 377, 388, 489, 559, 604, 784, 787, 835, 902, 957, 986], ('Apparel', 'Apparel'): [90, 230, 339, 353, 447, 546, 574, 596, 682, 694, 725, 793, 876, 881, 916], ('Business Services', 'Advertising, marketing'): [185, 354], ('Business Services', 'Diversified Outsourcing Services'): [198, 247, 484, 544, 625, 634, 713, 728, 743, 782, 802, 815, 818, 868], ('Business Services', 'Education'): [736, 819, 992], ('Business Services', 'Financial Data Services'): [203, 248, 293, 306, 391, 403, 467, 480, 491, 651, 693, 766, 775, 776, 791, 795, 800, 885, 951], ('Business Services', 'Miscellaneous'): [439, 733, 869], ('Business Services', 'Temporary Help'): [143, 466, 502, 790, 950], ('Business Services', 'Waste Management'): [220, 311, 676, 734, 938], ('Chemicals', 'Chemicals'): [55, 100, 181, 188, 205, 252, 261, 276, 287, 295, 315, 537, 548, 554, 565, 579, 612, 623, 653, 667, 716, 719, 723, 757, 760, 828, 864, 897, 933, 948], ('Energy', 'Energy'): [192, 363, 383, 401, 474, 557, 605, 632, 741, 783, 801, 809, 878, 961], ('Energy', 'Mining, Crude-Oil Production'): [89, 174, 215, 222, 224, 321, 323, 348, 387, 437, 457, 521, 597, 661, 702, 703, 705, 742, 753, 797, 825, 859, 861, 900, 954, 965, 980, 994], ('Energy', 'Miscellaneous'): [695], ('Energy', 'Oil and Gas Equipment, Services'): [116, 177, 191, 318, 409, 540, 691, 714, 771], ('Energy', 'Petroleum Refining'): [1, 13, 29, 31, 41, 97, 213, 216, 288, 393, 444, 568, 570, 731, 849, 952, 982], ('Energy', 'Pipelines'): [64, 103, 120, 197, 347, 386, 492, 655, 858, 907, 923, 947], ('Energy', 'Utilities: Gas and Electric'): [94, 114, 161, 162, 164, 165, 187, 189, 228, 242, 245, 246, 256, 271, 273, 278, 342, 349, 362, 402, 424, 436, 482, 506, 547, 555, 578, 599, 649, 678, 710, 744, 816, 842, 850, 852, 854, 920, 979, 996, 997], ('Engineering & Construction', 'Engineering, Construction'): [154, 155, 234, 313, 351, 380, 477, 500, 515, 571, 873, 891, 962, 984], ('Engineering & Construction', 'Homebuilders'): [259, 300, 432, 497, 575, 639, 718, 737, 821, 862, 928, 993], ('Financials', 'Commercial Banks'): [22, 25, 26, 28, 73, 77, 111, 130, 170, 178, 263, 272, 282, 328, 375, 452, 453, 485, 509, 519, 539, 602, 697, 764, 915, 937, 975, 995], ('Financials', 'Diversified Financials'): [15, 42, 82, 84, 183, 221, 231, 251, 297, 470, 493, 535, 711, 879, 922], ('Financials', 'Insurance: Life, Health (Mutual)'): [60, 75, 81, 99, 225, 317, 478, 843, 851, 924], ('Financials', 'Insurance: Life, Health (stock)'): [39, 49, 134, 204, 235, 264, 270, 305, 325, 366, 550, 589, 610, 700, 722, 749, 896, 925], ('Financials', 'Insurance: Property and Casualty (Mutual)'): [34, 68, 226, 397, 645, 754, 909], ('Financials', 'Insurance: Property and Casualty (Stock)'): [3, 48, 72, 80, 104, 113, 136, 151, 209, 274, 310, 331, 367, 410, 420, 441, 475, 496, 498, 505, 508, 530, 560, 727, 837, 877, 935, 958], ('Financials', 'Real estate'): [258, 435, 448, 471, 472, 487, 608, 650, 780, 827, 832, 845, 860, 919, 987], ('Financials', 'Securities'): [249, 343, 346, 381, 400, 481, 528, 567, 572, 662, 670, 679, 709, 729, 767, 838, 847, 871], ('Food and Drug Stores', 'Food and Drug Stores'): [6, 16, 18, 86, 106, 159, 180, 594, 613, 630, 668, 755, 808, 848, 927], ('Food, Beverages & Tobacco', 'Beverages'): [61, 396, 412, 428, 541, 635, 701, 786, 888], ('Food, Beverages & Tobacco', 'Food Consumer Products'): [43, 93, 152, 160, 175, 206, 214, 303, 335, 336, 361, 451, 534, 566, 586, 607, 614, 685, 794, 803], ('Food, Beverages & Tobacco', 'Food Production'): [40, 65, 83, 241, 455, 459, 573, 663, 769], ('Food, Beverages & Tobacco', 'Tobacco'): [105, 148, 265, 901, 953], ('Health Care', 'Health Care: Insurance and Managed Care'): [5, 32, 45, 51, 78, 123, 171, 200, 201, 536, 748], ('Health Care', 'Health Care: Medical Facilities'): [62, 124, 139, 199, 289, 371, 429, 456, 514, 617, 692, 696, 765, 934], ('Health Care', 'Health Care: Pharmacy and Other Services'): [21, 324, 357, 446, 468, 552, 628, 745, 774, 880, 882, 959, 977], ('Health Care', 'Medical Products and Equipment'): [137, 277, 285, 286, 358, 430, 464, 660, 707, 789, 798, 817, 844, 867, 964, 976], ('Health Care', 'Pharmaceuticals'): [38, 54, 71, 85, 122, 129, 140, 167, 262, 304, 419, 526, 582, 683, 814], ('Health Care', 'Wholesalers: Health Care'): [4, 11, 20, 267, 290, 558], ('Hotels, Resturants & Leisure', 'Food Services'): [108, 145, 217, 370, 545, 556, 730, 762, 796, 914, 940, 998], ('Hotels, Resturants & Leisure', 'Hotels, Casinos, Resorts'): [194, 240, 253, 308, 443, 465, 533, 561, 584, 763, 778, 894, 917], ('Household Products', 'Home Equipment, Furnishings'): [255, 327, 337, 344, 433, 532, 600, 698, 715, 889, 931, 966], ('Household Products', 'Household and Personal Products'): [33, 150, 173, 260, 369, 440, 454, 553, 664, 855, 899, 906, 991], ('Household Products', 'Miscellaneous'): [449, 549, 949], ('Industrials', 'Construction and Farm Machinery'): [58, 96, 147, 359, 395, 657, 689, 812, 865], ('Industrials', 'Electronics, Electrical Equip.'): [74, 127, 133, 411, 418, 543, 622, 644, 665, 788, 830, 840, 886], ('Industrials', 'Industrial Machinery'): [10, 210, 223, 376, 538, 595, 621, 629, 654, 673, 756, 781, 805, 822, 831, 834, 846, 866, 872, 941, 946, 963, 999], ('Industrials', 'Miscellaneous'): [92], ('Materials', 'Building Materials, Glass'): [479, 615, 636, 638, 640, 659, 856], ('Materials', 'Forest and Paper Products'): [372, 488, 624, 750, 792], ('Materials', 'Metals'): [125, 169, 243, 302, 355, 382, 416, 619, 666, 686, 690, 910, 981, 985], ('Materials', 'Miscellaneous'): [425], ('Materials', 'Packaging, Containers'): [126, 250, 320, 340, 374, 417, 434, 445, 513, 517, 576, 585, 616, 627, 773, 884], ('Media', 'Entertainment'): [52, 95, 98, 202, 212, 365, 405, 413, 524, 680, 704, 721, 740, 758, 761, 820, 912, 968], ('Media', 'Publishing, Printing'): [254, 326, 529, 706, 751, 967, 988], ('Motor Vehicles & Parts', 'Motor Vehicles and Parts'): [7, 8, 69, 146, 153, 168, 280, 309, 333, 338, 423, 427, 469, 587, 590, 603, 646, 669, 717, 738, 810, 956, 960, 978], ('Retailing', 'Automotive Retailing, Services'): [135, 142, 190, 266, 268, 296, 329, 345, 392, 510], ('Retailing', 'General Merchandisers'): [0, 37, 102, 110, 138, 144, 196, 227, 379, 772], ('Retailing', 'Specialty Retailers: Apparel'): [88, 176, 233, 236, 360, 499, 501, 522, 642, 643, 647, 656, 720, 806, 811, 823, 839, 875], ('Retailing', 'Specialty Retailers: Other'): [14, 27, 46, 70, 131, 179, 195, 237, 239, 257, 279, 292, 298, 301, 341, 364, 373, 378, 414, 426, 438, 494, 511, 516, 581, 591, 601, 606, 609, 620, 674, 688, 747, 770, 824, 826, 893, 898, 921, 936, 939, 972], ('Technology', 'Computer Peripherals'): [112, 193, 421, 637], ('Technology', 'Computer Software'): [24, 76, 385, 399, 523, 531, 542, 551, 562, 833, 841, 908, 918, 983], ('Technology', 'Computers, Office Equipment'): [2, 19, 408, 633, 777, 970, 974], ('Technology', 'Information Technology Services'): [30, 149, 219, 229, 232, 486, 503, 564, 672, 724, 926, 942, 945], ('Technology', 'Internet Services and Retailing'): [17, 35, 156, 283, 299, 307, 384, 512, 681, 687, 732, 735, 905, 913, 969], ('Technology', 'Network and Other Communications Equipment'): [53, 109, 312, 450, 461, 504, 518, 583, 611, 675, 699, 853, 903, 989], ('Technology', 'Scientific,Photographic and Control Equipment'): [132, 163, 588, 593, 631, 759, 863, 892, 895, 904, 911, 955], ('Technology', 'Semiconductors and Other Electronic Components'): [50, 157, 172, 218, 294, 330, 407, 463, 490, 507, 592, 648, 658, 677, 752, 768, 804, 829, 870, 887, 890, 930, 943], ('Telecommunications', 'Telecommunications'): [9, 12, 36, 115, 158, 186, 291, 332, 398, 442, 460, 495, 525, 618, 785], ('Transportation', 'Airlines'): [66, 67, 79, 141, 404, 458, 708, 883, 932], ('Transportation', 'Mail, Package, and Freight Delivery'): [47, 57], ('Transportation', 'Miscellaneous'): [929], ('Transportation', 'Railroads'): [128, 238, 269, 857, 971], ('Transportation', 'Transportation Equipment'): [406, 431, 527, 577, 813], ('Transportation', 'Transportation and Logistics'): [207, 352, 389, 641, 973], ('Transportation', 'Trucking, Truck Leasing'): [394, 415, 520, 569, 671, 712, 739, 799, 944], ('Wholesalers', 'Miscellaneous'): [314], ('Wholesalers', 'Wholesalers: Diversified'): [91, 166, 182, 275, 284, 319, 322, 356, 368, 390, 422, 462, 483, 563, 580, 598, 626, 652, 726, 746, 779, 807, 836, 874, 990], ('Wholesalers', 'Wholesalers: Electronics and Office Equipment'): [63, 101, 107, 118, 211, 473, 476, 684], ('Wholesalers', 'Wholesalers: Food and Grocery'): [56, 121, 184, 316, 334, 350]}

In [53]:
sectorNew.get_group( ("Energy","Petroleum Refining") )

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
13,14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
29,30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
31,32,Valero Energy,Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
41,42,Marathon Petroleum,Energy,Petroleum Refining,"Findlay, OH",64566,2852,45440
97,98,Tesoro,Energy,Petroleum Refining,"San Antonio, TX",28150,1540,6016
213,214,HollyFrontier,Energy,Petroleum Refining,"Dallas, TX",13238,740,2704
216,217,PBF Energy,Energy,Petroleum Refining,"Parsippany, NJ",13124,146,2270
288,289,Western Refining,Energy,Petroleum Refining,"El Paso, TX",9787,407,7347
393,394,Hess,Energy,Petroleum Refining,"New York, NY",6575,-3056,2770
444,445,Delek US Holdings,Energy,Petroleum Refining,"Brentwood, TN",5762,19,4584
568,569,Alon USA Energy,Energy,Petroleum Refining,"Dallas, TX",4260,53,2860
570,571,Calumet Specialty Products Partners,Energy,Petroleum Refining,"Indianapolis, IN",4213,-139,2175
731,732,Northern Tier Energy,Energy,Petroleum Refining,"Tempe, AZ",3002,331,2961
849,850,United Refining,Energy,Petroleum Refining,"Warren, PA",2470,82,2997
952,953,Par Pacific Holdings,Energy,Petroleum Refining,"Houston, TX",2066,-40,744
982,983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809

In [54]:
sectorNew.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

In [56]:
sector_group.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [57]:
sectorNew["Profits"].mean()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            1437.100000
Apparel              Apparel                                           549.066667
Business Services    Advertising, marketing                            774.500000
                     Diversified Outsourcing Services                  307.500000
                     Education                                          23.000000
                                                                         ...
Transportation       Trucking, Truck Leasing                           212.222222
Wholesalers          Miscellaneous                                      17.000000
                     Wholesalers: Diversified                          207.720000
                     Wholesalers: Electronics and Office Equipment     232.125000
                     Wholesalers: Food and Grocery                     194.333333
Name: Profits, Length: 79, dtype: float64

In [58]:
sector_group["Profits"].mean()

Sector
Aerospace & Defense             1437.100000
Apparel                          549.066667
Business Services                553.470588
Chemicals                        754.266667
Energy                          -602.024590
Engineering & Construction       204.000000
Financials                      1872.007194
Food and Drug Stores            1117.266667
Food, Beverages & Tobacco       1195.744186
Health Care                     1414.853333
Hotels, Resturants & Leisure     827.880000
Household Products               515.285714
Industrials                      451.391304
Materials                        102.976744
Media                            973.880000
Motor Vehicles & Parts          1079.083333
Retailing                        597.875000
Technology                      1769.343137
Telecommunications              3242.466667
Transportation                  1226.916667
Wholesalers                      205.825000
Name: Profits, dtype: float64

In [59]:
sectorNew.mean()

C:\Users\Tushar\AppData\Local\Temp\ipykernel_1640\2215321112.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sectorNew.mean()

                                                                         Rank  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                          443.500000
Apparel             Apparel                                        583.800000
Business Services   Advertising, marketing                         270.500000
                    Diversified Outsourcing Services               643.928571
                    Education                                      850.000000
...                                                                       ...
Transportation      Trucking, Truck Leasing                        641.333333
Wholesalers         Miscellaneous                                  315.000000
                    Wholesalers: Diversified                       516.880000
                    Wholesalers: Electronics and Office Equipment  280.125000
                    Wholesalers: Food and Grocery                  227.833333

                                                                        Revenue  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                          17897.000000
Apparel             Apparel                                         6397.866667
Business Services   Advertising, marketing                         11374.000000
                    Diversified Outsourcing Services                4630.642857
                    Education                                       2495.000000
...                                                                         ...
Transportation      Trucking, Truck Leasing                         3994.444444
Wholesalers         Miscellaneous                                   8982.000000
                    Wholesalers: Diversified                        7045.520000
                    Wholesalers: Electronics and Office Equipment  18488.250000
                    Wholesalers: Food and Grocery                  18629.000000

                                                                       Profits  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                          1437.100000
Apparel             Apparel                                         549.066667
Business Services   Advertising, marketing                          774.500000
                    Diversified Outsourcing Services                307.500000
                    Education                                        23.000000
...                                                                        ...
Transportation      Trucking, Truck Leasing                         212.222222
Wholesalers         Miscellaneous                                    17.000000
                    Wholesalers: Diversified                        207.720000
                    Wholesalers: Electronics and Office Equipment   232.125000
                    Wholesalers: Food and Grocery                   194.333333

                                                                      Employees
Sector              Industry
Aerospace & Defense Aerospace and Defense                          48402.850000
Apparel             Apparel                                        23093.133333
Business Services   Advertising, marketing                         62050.000000
                    Diversified Outsourcing Services               50595.000000
                    Education                                      15585.000000
...                                                                         ...
Transportation      Trucking, Truck Leasing                        18939.555556
Wholesalers         Miscellaneous                                   9200.000000
                    Wholesalers: Diversified                        9353.240000
                    Wholesalers: Electronics and Office Equipment  20832.625000
                    Wholesalers: Food and Grocery                  19317.500000

[79 rows x 4 columns]

In [60]:
sector_group.mean()

C:\Users\Tushar\AppData\Local\Temp\ipykernel_1640\421288903.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sector_group.mean()

,Rank,Revenue,Profits,Employees
Sector,,,,
Aerospace & Defense,443.500000,17897.000000,1437.100000,48402.850000
Apparel,583.800000,6397.866667,549.066667,23093.133333
Business Services,609.294118,5337.156863,553.470588,26687.254902
Chemicals,530.933333,8129.900000,754.266667,15455.033333
Energy,509.827869,12441.057377,-602.024590,9745.303279
Engineering & Construction,582.576923,5922.423077,204.000000,15642.615385
Financials,457.309353,15950.784173,1872.007194,24172.287770
Food and Drug Stores,428.600000,32251.266667,1117.266667,93026.533333
"Food, Beverages & Tobacco",433.232558,12929.465116,1195.744186,28177.488372
Health Care,423.600000,21529.426667,1414.853333,35710.520000
"Hotels, Resturants & Leisure",561.560000,6781.840000,827.880000,99369.800000
Household Products,562.464286,8383.464286,515.285714,23072.785714
Industrials,586.695652,10816.978261,451.391304,33591.934783
Materials,542.860465,6026.627907,102.976744,14840.069767
Media,559.040000,8830.560000,973.880000,22012.560000
Motor Vehicles & Parts,475.333333,20105.833333,1079.083333,45106.666667
Retailing,445.637500,18313.450000,597.875000,77845.362500
Technology,557.862745,13505.882353,1769.343137,35087.735294
Telecommunications,325.133333,30788.933333,3242.466667,55497.866667
Transportation,509.694444,11347.444444,1226.916667,42688.694444
Wholesalers,421.125000,11120.000000,205.825000,13139.925000

In [61]:
# Revenue	Profits	Employees
sector_group.agg({"Revenue":"sum",
                 "Profits":"mean"})

                              Revenue      Profits
Sector
Aerospace & Defense            357940  1437.100000
Apparel                         95968   549.066667
Business Services              272195   553.470588
Chemicals                      243897   754.266667
Energy                        1517809  -602.024590
Engineering & Construction     153983   204.000000
Financials                    2217159  1872.007194
Food and Drug Stores           483769  1117.266667
Food, Beverages & Tobacco      555967  1195.744186
Health Care                   1614707  1414.853333
Hotels, Resturants & Leisure   169546   827.880000
Household Products             234737   515.285714
Industrials                    497581   451.391304
Materials                      259145   102.976744
Media                          220764   973.880000
Motor Vehicles & Parts         482540  1079.083333
Retailing                     1465076   597.875000
Technology                    1377600  1769.343137
Telecommunications             461834  3242.466667
Transportation                 408508  1226.916667
Wholesalers                    444800   205.825000

In [62]:
# Revenue	Profits	Employees
sectorNew.agg({"Revenue":"sum",
                 "Profits":"mean"})

                                                                   Revenue  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                           357940
Apparel             Apparel                                          95968
Business Services   Advertising, marketing                           22748
                    Diversified Outsourcing Services                 64829
                    Education                                         7485
...                                                                    ...
Transportation      Trucking, Truck Leasing                          35950
Wholesalers         Miscellaneous                                     8982
                    Wholesalers: Diversified                        176138
                    Wholesalers: Electronics and Office Equipment   147906
                    Wholesalers: Food and Grocery                   111774

                                                                       Profits
Sector              Industry
Aerospace & Defense Aerospace and Defense                          1437.100000
Apparel             Apparel                                         549.066667
Business Services   Advertising, marketing                          774.500000
                    Diversified Outsourcing Services                307.500000
                    Education                                        23.000000
...                                                                        ...
Transportation      Trucking, Truck Leasing                         212.222222
Wholesalers         Miscellaneous                                    17.000000
                    Wholesalers: Diversified                        207.720000
                    Wholesalers: Electronics and Office Equipment   232.125000
                    Wholesalers: Food and Grocery                   194.333333

[79 rows x 2 columns]