In [24]:
import pandas as pd

In [25]:
df = pd.read_csv("NbaInfo.csv", index_col=["Name"])

In [29]:
df =df.dropna()

In [40]:
df.sort_index(inplace=True)
df

,Team,Number,Position,Age,Height,Weight,College,Salary,Rank_salary
Name,,,,,,,,,
Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0,171
Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0,237
Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0,28
Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0,154
Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0,322
...,...,...,...,...,...,...,...,...,...
Willie Cauley-Stein,Sacramento Kings,0.0,C,22.0,7-0,240.0,Kentucky,3398280.0,217
Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0,70
Wilson Chandler,Denver Nuggets,21.0,SF,29.0,6-8,225.0,DePaul,10449438.0,313
Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0,166
Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0,308

In [45]:
df.columns

Index(['Team', 'Number', 'Position', 'Age', 'Height', 'Weight', 'College',
       'Salary', 'Rank_salary'],
      dtype='object')

In [44]:
#  row label indexing 
df.loc[ "Aaron Brooks":"Al Horford", "Team":"Age" ]

                                  Team  Number Position   Age
Name
Aaron Brooks             Chicago Bulls     0.0       PG  31.0
Aaron Gordon             Orlando Magic     0.0       PF  20.0
Aaron Harrison       Charlotte Hornets     9.0       SG  21.0
Adreian Payne   Minnesota Timberwolves    33.0       PF  25.0
Al Horford               Atlanta Hawks    15.0        C  30.0

In [55]:
df.drop("Team",axis=1)

,Number,Position,Age,Height,Weight,College,Salary,Rank_salary
Name,,,,,,,,
Aaron Brooks,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0,171
Aaron Gordon,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0,237
Aaron Harrison,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0,28
Adreian Payne,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0,154
Al Horford,15.0,C,30.0,6-10,245.0,Florida,12000000.0,322
...,...,...,...,...,...,...,...,...
Willie Cauley-Stein,0.0,C,22.0,7-0,240.0,Kentucky,3398280.0,217
Willie Reed,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0,70
Wilson Chandler,21.0,SF,29.0,6-8,225.0,DePaul,10449438.0,313
Zach LaVine,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0,166
Zach Randolph,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0,308

In [60]:
# df3 = df.pop("Team")

NameError: name 'df3' is not defined

In [52]:
df.drop("Aaron Brooks")

,Team,Number,Position,Age,Height,Weight,College,Salary,Rank_salary
Name,,,,,,,,,
Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0,237
Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0,28
Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0,154
Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0,322
Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0,297
...,...,...,...,...,...,...,...,...,...
Willie Cauley-Stein,Sacramento Kings,0.0,C,22.0,7-0,240.0,Kentucky,3398280.0,217
Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0,70
Wilson Chandler,Denver Nuggets,21.0,SF,29.0,6-8,225.0,DePaul,10449438.0,313
Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0,166
Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0,308

In [51]:
df.rename(mapper={"Team":"new Team"},axis="columns")

,new Team,Number,Position,Age,Height,Weight,College,Salary,Rank_salary
Name,,,,,,,,,
Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0,171
Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0,237
Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0,28
Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0,154
Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0,322
...,...,...,...,...,...,...,...,...,...
Willie Cauley-Stein,Sacramento Kings,0.0,C,22.0,7-0,240.0,Kentucky,3398280.0,217
Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0,70
Wilson Chandler,Denver Nuggets,21.0,SF,29.0,6-8,225.0,DePaul,10449438.0,313
Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0,166
Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0,308

In [48]:
df.rename(mapper={"Aaron Brooks":"new Brooks"})

,Team,Number,Position,Age,Height,Weight,College,Salary,Rank_salary
Name,,,,,,,,,
new Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0,171
Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0,237
Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0,28
Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0,154
Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0,322
...,...,...,...,...,...,...,...,...,...
Willie Cauley-Stein,Sacramento Kings,0.0,C,22.0,7-0,240.0,Kentucky,3398280.0,217
Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0,70
Wilson Chandler,Denver Nuggets,21.0,SF,29.0,6-8,225.0,DePaul,10449438.0,313
Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0,166
Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0,308

In [17]:
df.sort_values(by="Salary")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Rank_salary
291,Orlando Johnson,New Orleans Pelicans,0.0,SG,27.0,6-5,220.0,UC Santa Barbara,55722.0,1
130,Phil Pressey,Phoenix Suns,25.0,PG,25.0,5-11,175.0,Missouri,55722.0,1
135,Alan Williams,Phoenix Suns,15.0,C,23.0,6-8,260.0,UC Santa Barbara,83397.0,3
175,Jordan McRae,Cleveland Cavaliers,12.0,SG,25.0,6-5,179.0,Tennessee,111196.0,4
184,Lorenzo Brown,Detroit Pistons,17.0,PG,25.0,6-5,189.0,North Carolina State,111444.0,5
...,...,...,...,...,...,...,...,...,...,...
164,Derrick Rose,Chicago Bulls,1.0,PG,27.0,6-3,190.0,Memphis,20093064.0,360
414,Kevin Durant,Oklahoma City Thunder,35.0,SF,27.0,6-9,240.0,Texas,20158622.0,361
100,Chris Paul,Los Angeles Clippers,3.0,PG,31.0,6-0,175.0,Wake Forest,21468695.0,362
339,Chris Bosh,Miami Heat,1.0,PF,32.0,6-11,235.0,Georgia Tech,22192730.0,363
33,Carmelo Anthony,New York Knicks,7.0,SF,32.0,6-8,240.0,Syracuse,22875000.0,364

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 364 entries, Aaron Brooks to Zach Randolph
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Number       364 non-null    float64
 1   Position     364 non-null    object
 2   Age          364 non-null    float64
 3   Height       364 non-null    object
 4   Weight       364 non-null    float64
 5   College      364 non-null    object
 6   Salary       364 non-null    float64
 7   Rank_salary  364 non-null    int32
dtypes: float64(4), int32(1), object(3)
memory usage: 32.3+ KB

In [67]:
df.sample(n=5)

,Number,Position,Age,Height,Weight,College,Salary,Rank_salary
Name,,,,,,,,
Luis Montero,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0,28
Ty Lawson,10.0,PG,28.0,5-11,195.0,North Carolina,211744.0,15
Trevor Ariza,1.0,SF,30.0,6-8,215.0,UCLA,8193030.0,299
Dante Cunningham,44.0,PF,29.0,6-8,230.0,Villanova,2850000.0,191
Kent Bazemore,24.0,SF,26.0,6-5,201.0,Old Dominion,2000000.0,155

In [69]:
df.sample(frac=0.2)

,Number,Position,Age,Height,Weight,College,Salary,Rank_salary
Name,,,,,,,,
Anthony Brown,3.0,SF,23.0,6-7,210.0,Stanford,700000.0,38
Raymond Felton,2.0,PG,31.0,6-1,205.0,North Carolina,3950313.0,230
James Anderson,5.0,SG,27.0,6-6,213.0,Oklahoma State,1015421.0,96
Patrick Patterson,54.0,PF,27.0,6-9,235.0,Kentucky,6268675.0,274
Terrence Ross,31.0,SF,25.0,6-7,195.0,Washington,3553917.0,223
...,...,...,...,...,...,...,...,...
Chris Andersen,7.0,PF,37.0,6-10,245.0,Blinn College,5000000.0,251
Kyle O'Quinn,9.0,PF,26.0,6-10,250.0,Norfolk State,3750000.0,225
Luke Babbitt,8.0,SF,26.0,6-9,225.0,Nevada,1100602.0,103
Victor Oladipo,5.0,SG,24.0,6-4,210.0,Indiana,5192520.0,259
Seth Curry,30.0,SG,25.0,6-2,185.0,Duke,947276.0,70

In [71]:
df.nlargest(3,columns="Weight")

,Number,Position,Age,Height,Weight,College,Salary,Rank_salary
Name,,,,,,,,
Andre Drummond,0.0,C,22.0,6-11,279.0,Connecticut,3272091.0,211
Brook Lopez,11.0,C,28.0,7-0,275.0,Stanford,19689000.0,356
Jahlil Okafor,8.0,C,20.0,6-11,275.0,Duke,4582680.0,246

In [73]:
# df.where()
df.query("Position == 'C'")

,Number,Position,Age,Height,Weight,College,Salary,Rank_salary
Name,,,,,,,,
Al Horford,15.0,C,30.0,6-10,245.0,Florida,12000000.0,322
Alan Williams,15.0,C,23.0,6-8,260.0,UC Santa Barbara,83397.0,3
Alex Len,21.0,C,22.0,7-1,260.0,Maryland,3807120.0,227
Andre Drummond,0.0,C,22.0,6-11,279.0,Connecticut,3272091.0,211
Andrew Bogut,12.0,C,31.0,7-0,260.0,Utah,13800000.0,331
Aron Baynes,12.0,C,29.0,6-10,260.0,Washington State,6500000.0,279
Brook Lopez,11.0,C,28.0,7-0,275.0,Stanford,19689000.0,356
Chris Kaman,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0,254
Cody Zeller,40.0,C,23.0,7-0,240.0,Indiana,4204200.0,238
Cole Aldrich,45.0,C,27.0,6-11,250.0,Kansas,1100602.0,103
DeAndre Jordan,6.0,C,27.0,6-11,265.0,Texas A&M,19689000.0,356
DeMarcus Cousins,15.0,C,25.0,6-11,270.0,Kentucky,15851950.0,342
Dewayne Dedmon,3.0,C,26.0,7-0,245.0,USC,947276.0,70
Ed Davis,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0,284
Enes Kanter,11.0,C,24.0,6-11,245.0,Kentucky,16407500.0,347
Festus Ezeli,31.0,C,26.0,6-11,265.0,Vanderbilt,2008748.0,156
Frank Kaminsky III,44.0,C,23.0,7-0,240.0,Wisconsin,2612520.0,185
Gorgui Dieng,5.0,C,26.0,6-11,241.0,Louisville,1474440.0,137
Greg Monroe,15.0,C,26.0,6-11,265.0,Georgetown,16407500.0,347
Hassan Whiteside,21.0,C,26.0,7-0,265.0,Marshall,981348.0,86
Henry Sims,14.0,C,26.0,6-10,248.0,Georgetown,947276.0,70
JJ Hickson,21.0,C,27.0,6-9,242.0,North Carolina State,273038.0,21
JaVale McGee,11.0,C,28.0,7-0,270.0,Nevada,1270964.0,121
Jahlil Okafor,8.0,C,20.0,6-11,275.0,Duke,4582680.0,246
Jared Sullinger,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0,184
Jeff Withey,24.0,C,26.0,7-0,231.0,Kansas,947276.0,70
Joakim Noah,13.0,C,31.0,6-11,232.0,Florida,13400000.0,327
Joel Anthony,50.0,C,33.0,6-9,245.0,UNLV,2500000.0,180
Joel Embiid,21.0,C,22.0,7-0,250.0,Kansas,4626960.0,247
Jordan Hill,27.0,C,28.0,6-10,235.0,Arizona,4000000.0,232
Karl-Anthony Towns,32.0,C,20.0,7-0,244.0,Kentucky,5703600.0,269
Kelly Olynyk,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,167
Kosta Koufos,41.0,C,27.0,7-0,265.0,Ohio State,7700000.0,290
Marreese Speights,5.0,C,28.0,6-10,255.0,Florida,3815000.0,228
Mason Plumlee,24.0,C,26.0,6-11,235.0,Duke,1415520.0,133
Matt Bonner,15.0,C,36.0,6-10,235.0,Florida,947276.0,70
Miles Plumlee,18.0,C,27.0,6-11,249.0,Duke,2109294.0,162
Nazr Mohammed,13.0,C,38.0,6-10,250.0,Kentucky,222888.0,16
Nikola Vucevic,9.0,C,25.0,7-0,260.0,USC,11250000.0,318
Robert Sacre,50.0,C,27.0,7-0,270.0,Gonzaga,981348.0,86
Robin Lopez,8.0,C,28.0,7-0,255.0,Stanford,12650000.0,326
Roy Hibbert,17.0,C,29.0,7-2,270.0,Georgetown,15592217.0,340
Sasha Kaun,14.0,C,31.0,6-11,260.0,Kansas,1276000.0,123
Steven Adams,12.0,C,22.0,7-0,255.0,Pittsburgh,2279040.0,172
Tarik Black,28.0,C,24.0,6-9,250.0,Kansas,845059.0,48
Tim Duncan,21.0,C,40.0,6-11,250.0,Wake Forest,5250000.0,261
Tristan Thompson,13.0,C,25.0,6-9,238.0,Texas,14260870.0,333
Tyler Zeller,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0,186
Willie Cauley-Stein,0.0,C,22.0,7-0,240.0,Kentucky,3398280.0,217

In [76]:
for data in df.columns:
    print(data)
    
type(df.columns)

Number
Position
Age
Height
Weight
College
Salary
Rank_salary

pandas.core.indexes.base.Index

In [77]:
df.columns=["hey"]

ValueError: Length mismatch: Expected axis has 8 elements, new values have 1 elements

In [78]:
df2 = pd.read_csv("NbaInfo.csv", usecols=["Name"])

In [80]:
df2.columns=["Data"]

In [81]:
df2

              Data
0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
..             ...
453   Shelvin Mack
454      Raul Neto
455   Tibor Pleiss
456    Jeff Withey
457            NaN

[458 rows x 1 columns]