**countries dataset**

from urllib.request import urlretrieve

urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv')


 Questions


 Q1: How many countries does the dataframe contain?
 Q2: Retrieve a list of continents from the dataframe?
 Q3: What is the total population of all the countries listed in this dataset?
Q: (Optional) What is the overall life expectancy across in the world?

Q4: Create a dataframe containing 10 countries with the highest population.

Q5: Add a new column in countries_df to record the overall GDP per country (product of population & per capita GDP).


Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.


Q6: Create a data frame that counts the number countries in each continent?

Q7: Create a data frame showing the total population of each continent.


**covid data**


urlretrieve('https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv', 
            'covid-countries-data.csv')

Q8: Count the number of countries for which the total_tests data is missing.

Hint: Use the .isna method.

Q9: Merge countries_df with covid_data_df on the location column.

Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.

Q11: Create a dataframe with 10 countires that have highest number of tests per million people.

Q12: Create a dataframe with 10 countires that have highest number of positive cases per million pe
ople.

Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?


(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".


(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.

In [1]:
import urllib.request
import pandas as pd
import numpy as np

In [ ]:
from urllib.request import urlretrieve

ur = urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv')

In [ ]:
print( ur, ur[0])

('countries.csv', <http.client.HTTPMessage object at 0x7fb996f4b190>) countries.csv

In [ ]:
df = pd.read_csv( ur[0])
df.head()

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495

In [ ]:
# Q1: How many countries does the dataframe contain?

locdf = df['location']
# print( locdf )
print( locdf.is_unique) # since the values are unique the locdf has all the unique values

True

In [ ]:
#  Q2: Retrieve a list of continents from the dataframe?

contdf = df['continent']
# print( contdf.head() )
cdf = pd.Series( contdf.unique() )
cdf

0             Asia
1           Europe
2           Africa
3    North America
4    South America
5          Oceania
dtype: object

In [ ]:
# Q3.1: What is the total population of all the countries listed in this dataset?

popdf = df['population']
totalpop = popdf.sum()
totalpop

7757980095.0

In [ ]:
# Q3.2: (Optional) What is the overall life expectancy across in the world?

lifedf = (df['life_expectancy'] * df['population']).sum() / totalpop
lifedf

72.72165193409664

In [ ]:
# Q4: Create a dataframe containing 10 countries with the highest population.

high10df = df.sort_values(by=['population']).head( 10)
high10df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
203,Vatican,Europe,809.0,75.12,NaN,NaN
65,Falkland Islands,South America,3483.0,81.44,NaN,NaN
130,Montserrat,North America,4999.0,74.16,NaN,NaN
5,Anguilla,North America,15002.0,81.88,NaN,NaN
24,Bonaire Sint Eustatius and Saba,North America,26221.0,77.79,NaN,NaN
28,British Virgin Islands,North America,30237.0,79.07,NaN,NaN
75,Gibraltar,Europe,33691.0,79.93,NaN,NaN
162,San Marino,Europe,33938.0,84.97,3.800,56861.47
113,Liechtenstein,Europe,38137.0,82.49,2.397,NaN
194,Turks and Caicos Islands,North America,38718.0,80.22,NaN,NaN

In [ ]:
# Q5.1: Add a new column in countries_df to record the overall GDP per country (product of population & per capita GDP).

df['gdp'] = df['population'] * df['gdp_per_capita']
df.head()

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11

In [ ]:
# Q5.2: (Optional) Create a dataframe containing 10 countries with 
# the lowest GDP per capita, among the counties with population greater than 100 million.

lowestdf = df[df.population > 100000000].sort_values( by=['gdp'], ascending= True).head(10)
lowestdf

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
63,Ethiopia,Africa,114963583.0,66.60,0.30,1729.927,1.988786e+11
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984,5.803628e+11
151,Philippines,Asia,109581085.0,71.23,1.00,7599.188,8.327273e+11
58,Egypt,Africa,102334403.0,71.99,1.60,10550.206,1.079649e+12
141,Nigeria,Africa,206139587.0,54.69,NaN,5338.454,1.100467e+12
145,Pakistan,Asia,220892331.0,67.27,0.60,5034.708,1.112128e+12
125,Mexico,North America,128932753.0,75.05,1.38,17336.469,2.235239e+12
27,Brazil,South America,212559409.0,75.88,2.20,14103.452,2.997821e+12
91,Indonesia,Asia,273523621.0,71.72,1.04,11188.744,3.060386e+12
157,Russia,Europe,145934460.0,72.58,8.05,24765.954,3.614206e+12

In [ ]:
# Q6: Create a data frame that counts the number countries in each continent?

countrydf = df.groupby(['continent'])['location'].count()
countrydf

continent
Africa           55
Asia             47
Europe           51
North America    36
Oceania           8
South America    13
Name: location, dtype: int64

In [ ]:
# Q7: Create a data frame showing the total population of each continent.

totalcontpop = df.groupby(['continent'])['population'].sum()
totalcontpop

continent
Africa           1.339424e+09
Asia             4.607388e+09
Europe           7.485062e+08
North America    5.912425e+08
Oceania          4.095832e+07
South America    4.304611e+08
Name: population, dtype: float64

In [ ]:
# **covid data**


ur2 = urlretrieve('https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv', 
            'covid-countries-data.csv')
df2 = pd.read_csv( ur2[0])
df2.tail()

           location  total_cases  total_deaths  total_tests
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

In [ ]:
# Q8: Count the number of countries for which the total_tests data is missing.

# Hint: Use the .isna method.

missingdf = df2['total_tests'].isna().sum()
missingdf
# df2.shape

122

In [ ]:
# Q10: Add columns tests_per_million, cases_per_million and deaths_per_million into combined_df.

combineddf = df.merge( df2, on = 'location' )
combineddf.head()

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,38243.0,1409.0,NaN
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,9728.0,296.0,NaN
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,45158.0,1525.0,NaN
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,1199.0,53.0,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,2729.0,109.0,NaN

In [ ]:

combineddf['total_cases_perM'] = combineddf['total_cases']*1e6 / combineddf['population']
combineddf['total_deaths_perM'] = combineddf['total_deaths']*1e6 / combineddf['population']
combineddf['total_tests_perM'] = combineddf['total_tests']*1e6 / combineddf['population']

combineddf.head()

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,total_cases_perM,total_deaths_perM,total_tests_perM
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,38243.0,1409.0,NaN,982.394806,36.194710,NaN
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,9728.0,296.0,NaN,3380.359997,102.856349,NaN
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,45158.0,1525.0,NaN,1029.804468,34.776824,NaN
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,1199.0,53.0,NaN,15518.022390,685.950948,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,2729.0,109.0,NaN,83.033462,3.316470,NaN

In [ ]:
# Q11: Create a dataframe with 10 countires that have highest number of tests_per_million people.

hightpm = combineddf.sort_values(by=['total_tests_perM'], ascending = False).head(10)
hightpm

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,total_cases_perM,total_deaths_perM,total_tests_perM
197,United Arab Emirates,Asia,9890400.0,77.97,1.200,67293.483,6.655595e+11,71540.0,387.0,7177430.0,7233.276713,39.128852,725696.635121
14,Bahrain,Asia,1701583.0,77.29,2.000,43290.705,7.366273e+10,52440.0,190.0,1118837.0,30818.361490,111.660730,657527.137965
115,Luxembourg,Europe,625976.0,82.25,4.510,94277.965,5.901574e+10,7928.0,124.0,385820.0,12665.022301,198.090662,616349.508607
122,Malta,Europe,441539.0,82.53,4.485,36513.323,1.612206e+10,1931.0,13.0,188539.0,4373.339614,29.442473,427004.183096
53,Denmark,Europe,5792203.0,80.90,2.500,46682.515,2.703946e+11,17195.0,626.0,2447911.0,2968.645954,108.076323,422621.755488
96,Israel,Asia,8655541.0,82.97,2.990,33132.320,2.867782e+11,122539.0,969.0,2353984.0,14157.289533,111.951408,271962.665303
89,Iceland,Europe,341250.0,82.99,2.910,46482.958,1.586231e+10,2121.0,10.0,88829.0,6215.384615,29.304029,260304.761905
157,Russia,Europe,145934460.0,72.58,8.050,24765.954,3.614206e+12,1005000.0,17414.0,37176827.0,6886.653091,119.327539,254750.159763
199,United States,North America,331002647.0,78.86,2.770,54225.446,1.794877e+13,6114406.0,185744.0,83898416.0,18472.377957,561.155633,253467.507769
10,Australia,Oceania,25499881.0,83.44,3.840,44648.710,1.138537e+12,25923.0,663.0,6255797.0,1016.592979,26.000121,245326.517406

In [ ]:
# Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.

highcpm = combineddf.sort_values(by=['total_cases_perM'], ascending = False).head(10)
highcpm

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,total_cases_perM,total_deaths_perM,total_tests_perM
155,Qatar,Asia,2881060.0,80.23,1.20,116935.600,3.368985e+11,119206.0,199.0,634745.0,41375.743650,69.071800,220316.480740
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705,7.366273e+10,52440.0,190.0,1118837.0,30818.361490,111.660730,657527.137965
147,Panama,North America,4314768.0,78.51,2.30,22267.037,9.607710e+10,94084.0,2030.0,336345.0,21805.112117,470.477208,77952.047480
40,Chile,South America,19116209.0,80.18,2.11,22767.037,4.352194e+11,414739.0,11344.0,2458762.0,21695.671982,593.423100,128621.841287
162,San Marino,Europe,33938.0,84.97,3.80,56861.470,1.929765e+09,735.0,42.0,NaN,21657.139490,1237.550828,NaN
9,Aruba,North America,106766.0,76.29,NaN,35973.781,3.840777e+09,2211.0,12.0,NaN,20708.839893,112.395332,NaN
105,Kuwait,Asia,4270563.0,75.49,2.00,65530.537,2.798523e+11,86478.0,535.0,621616.0,20249.789079,125.276222,145558.325682
150,Peru,South America,32971846.0,76.74,1.60,12236.706,4.034668e+11,663437.0,29259.0,584232.0,20121.318048,887.393445,17719.117092
27,Brazil,South America,212559409.0,75.88,2.20,14103.452,2.997821e+12,3997865.0,123780.0,4797948.0,18808.224105,582.331314,22572.268255
199,United States,North America,331002647.0,78.86,2.77,54225.446,1.794877e+13,6114406.0,185744.0,83898416.0,18472.377957,561.155633,253467.507769

In [ ]:
# Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?

highdpm = combineddf.sort_values(by=['total_deaths_perM'], ascending = False).head(10)
highdpm

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,total_cases_perM,total_deaths_perM,total_tests_perM
162,San Marino,Europe,33938.0,84.97,3.80,56861.470,1.929765e+09,735.0,42.0,NaN,21657.139490,1237.550828,NaN
150,Peru,South America,32971846.0,76.74,1.60,12236.706,4.034668e+11,663437.0,29259.0,584232.0,20121.318048,887.393445,17719.117092
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576,4.943965e+11,85817.0,9898.0,2281853.0,7404.645676,854.040375,196887.713967
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,1199.0,53.0,NaN,15518.022390,685.950948,NaN
177,Spain,Europe,46754783.0,83.56,2.97,34272.360,1.602397e+12,479554.0,29194.0,6416533.0,10256.790198,624.406705,137238.001939
198,United Kingdom,Europe,67886004.0,81.32,2.54,39753.244,2.698689e+12,338676.0,41514.0,13447568.0,4988.892850,611.525168,198090.434075
40,Chile,South America,19116209.0,80.18,2.11,22767.037,4.352194e+11,414739.0,11344.0,2458762.0,21695.671982,593.423100,128621.841287
97,Italy,Europe,60461828.0,83.51,3.18,35220.084,2.129471e+12,271515.0,35497.0,5214766.0,4490.684602,587.097697,86248.897403
27,Brazil,South America,212559409.0,75.88,2.20,14103.452,2.997821e+12,3997865.0,123780.0,4797948.0,18808.224105,582.331314,22572.268255
182,Sweden,Europe,10099270.0,82.80,2.22,46949.283,4.741535e+11,84532.0,5820.0,NaN,8370.109919,576.279276,NaN

In [ ]:
# Q14: Count number of countries that feature in both the lists of "highest number of tests per million" 
# and "highest number of cases per million".

list1 = set(highdpm['location'])
list2 = set(highcpm['location'])
res1 = list1.intersection(list2)
print( len( res1))

4

In [ ]:
# Q15: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" 
# and "20 countries with the lowest number of hospital beds per thousand population". 

# Only consider countries with a population higher than 10 million while creating the list.

lowestgdp = combineddf.sort_values(by=['gdp'], ascending = True).head(20)
lowesthos = combineddf.sort_values(by=['hospital_beds_per_thousand'], ascending = True).head(20)
gt10 = combineddf[ combineddf.population > 1000000]
# print( lowestgdp['location'], lowesthos['location'], gt10['location'])

li3 = set ( lowestgdp['location'] ).intersection( lowesthos['location'])
li4 = set ( li3.intersection( gt10['location']) )
print( li4 )

set()

** ************************************************ **

A categorical data is a type with two or more categories. If you have categorical data in the dataset, converting these data to categorical data allows you to use less memory and make easier analyzes.

In [2]:
data = pd.Series(['tim', 'tom', 'sam', 'sam']*3)
data

0     tim
1     tom
2     sam
3     sam
4     tim
5     tom
6     sam
7     sam
8     tim
9     tom
10    sam
11    sam
dtype: object

In [3]:
pd.unique( data)

array(['tim', 'tom', 'sam'], dtype=object)

In [5]:
# data.value_counts()
pd.value_counts(data)

sam    6
tim    3
tom    3
dtype: int64

In [6]:
values = pd.Series([0, 1, 0, 0]*3)
values

0     0
1     1
2     0
3     0
4     0
5     1
6     0
7     0
8     0
9     1
10    0
11    0
dtype: int64

In [8]:
data.take( values)

0    tim
1    tom
0    tim
0    tim
0    tim
1    tom
0    tim
0    tim
0    tim
1    tom
0    tim
0    tim
dtype: object

In [11]:
n = len( data)
# np.arange(5)
n

12

In [17]:
df = pd.DataFrame( 
    {
        'name': data,
        'num': np.arange(n),
        'score': np.random.randint(40, 100, size=n),
        'weight': np.random.uniform(50, 70, size=n)
    },
    columns = ['num', 'name', 'score', 'weight']
)
df

    num name  score     weight
0     0  tim     57  50.182036
1     1  tom     79  65.149973
2     2  sam     76  62.267935
3     3  sam     85  69.794196
4     4  tim     42  54.833782
5     5  tom     80  64.423172
6     6  sam     82  58.645306
7     7  sam     74  52.947837
8     8  tim     83  55.413468
9     9  tom     57  59.850439
10   10  sam     77  50.729882
11   11  sam     69  54.950413

In [19]:
type( df['name'])

pandas.core.series.Series

In [20]:
name_cat = df['name'].astype('category')
name_cat

0     tim
1     tom
2     sam
3     sam
4     tim
5     tom
6     sam
7     sam
8     tim
9     tom
10    sam
11    sam
Name: name, dtype: category
Categories (3, object): ['sam', 'tim', 'tom']

In [21]:
x = name_cat.values
x

['tim', 'tom', 'sam', 'sam', 'tim', ..., 'sam', 'tim', 'tom', 'sam', 'sam']
Length: 12
Categories (3, object): ['sam', 'tim', 'tom']

In [22]:
x.categories

Index(['sam', 'tim', 'tom'], dtype='object')

In [23]:
x.codes

array([1, 2, 0, 0, 1, 2, 0, 0, 1, 2, 0, 0], dtype=int8)

In [24]:
df['name'] = df['name'].astype('category')
df.name

0     tim
1     tom
2     sam
3     sam
4     tim
5     tom
6     sam
7     sam
8     tim
9     tom
10    sam
11    sam
Name: name, dtype: category
Categories (3, object): ['sam', 'tim', 'tom']

In [25]:
data_cat = pd.Categorical( list('abcde'))
data_cat

['a', 'b', 'c', 'd', 'e']
Categories (5, object): ['a', 'b', 'c', 'd', 'e']

In [28]:
people = ['baby', 'child', 'young', 'old']
codes = [0, 1, 2, 3, 1, 0, 0]
people_cat = pd.Categorical.from_codes( codes, people, ordered=True)
people_cat

['baby', 'child', 'young', 'old', 'child', 'baby', 'baby']
Categories (4, object): ['baby' < 'child' < 'young' < 'old']

In [29]:
people_cat.as_ordered()

['baby', 'child', 'young', 'old', 'child', 'baby', 'baby']
Categories (4, object): ['baby' < 'child' < 'young' < 'old']

In [30]:
data = np.random.randn(1000)
data

array([ 3.58614022e-01, -4.48409671e-01, -9.03218909e-02, -1.44865743e+00,
       -3.94196153e-02,  6.22511976e-01, -7.80472838e-01,  4.04344024e-01,
       -1.38326524e+00,  2.36995455e-01,  2.31287087e-01, -8.89253269e-02,
       -1.26658111e+00, -8.27499564e-01, -1.21394634e+00, -1.02028085e+00,
        6.91371615e-01,  1.50851104e+00,  6.89263429e-01, -6.66866082e-01,
        1.11532742e+00,  8.93444990e-01,  1.20312115e+00,  1.87113181e+00,
       -1.18912413e-01,  1.32844184e+00,  4.44735699e-01, -1.74340590e+00,
       -9.43019698e-02, -5.10758933e-02,  1.22649786e+00,  1.74232762e+00,
       -1.00356065e+00, -6.97325770e-01, -5.65690642e-01, -1.87663903e-01,
        1.05793688e+00, -2.58018224e-01,  1.11328853e+00, -1.05202284e+00,
       -5.49611714e-01, -1.69647548e+00,  5.91884078e-03, -1.24733507e+00,
        1.51625425e-01, -1.35883205e+00, -5.15030904e-01, -1.64001397e-01,
        3.47544319e-02,  6.14494199e-01,  1.11738302e+00,  1.49851831e-01,
       -1.60932897e+00,  1.13714051e+00, -4.56131084e-01, -1.12368661e+00,
        7.97688210e-01, -8.57485642e-01, -1.20756934e+00,  6.20984487e-01,
        3.10080053e-04, -1.09350340e+00,  3.75844329e-01,  1.40718224e+00,
        7.75812425e-01, -1.70447963e-01,  9.44838803e-01,  7.16805257e-01,
       -1.05981279e+00, -8.04579841e-01,  1.84816147e+00, -2.41880182e-01,
        6.22113959e-01,  5.37419834e-01,  4.57501217e-01, -1.35556877e+00,
       -1.62608381e+00, -8.11210465e-01,  2.49453413e-01, -2.56509102e+00,
        7.64222990e-01,  6.78506015e-01,  4.32579840e-01,  5.18192005e-01,
        2.12398068e+00,  2.08897876e-01, -1.97461997e-01, -1.41790732e+00,
       -9.84647340e-02,  9.92310486e-01,  2.06784490e-02, -7.87192552e-01,
       -5.68518700e-01,  1.49079533e+00, -3.63498531e-01,  8.67529121e-01,
       -9.82352170e-01,  4.53645996e-01,  1.68702911e+00,  7.40351402e-02,
        2.26697742e-01,  8.31322513e-01,  8.25495968e-01, -7.27839567e-01,
        2.23582485e-01,  5.42276204e-01, -1.59511871e-01, -7.78701430e-01,
       -1.34604866e+00, -1.08580814e+00, -9.51828207e-01, -8.47596158e-01,
        1.54181236e+00, -8.60586878e-01, -1.49847676e-01, -1.37522056e+00,
        1.89288841e-01,  6.33234837e-01,  8.23827277e-01, -9.73993250e-01,
        2.97891756e-01, -1.83108040e-01,  1.08787273e-01,  3.59561988e-01,
        7.35738013e-01,  5.99774824e-01,  5.10471369e-01,  1.10705907e+00,
       -3.67985422e-01, -6.93848672e-01,  9.05343736e-01,  6.23535205e-01,
        1.67182720e+00,  5.61648023e-01,  4.40556018e-01,  7.97713071e-01,
        1.81406205e-01,  5.21823822e-01, -9.46793800e-01,  7.03459659e-01,
       -3.62416587e-01,  3.37113924e-01,  1.96020996e-01,  4.84714037e-01,
        2.64441406e-01, -4.12077839e-01, -9.62719114e-02, -1.40135505e+00,
        1.34101858e+00, -2.19542822e-01, -9.75382133e-01,  7.18369955e-01,
        7.31224011e-01, -6.00185139e-01, -1.26895462e+00, -2.64541008e-01,
        7.68673329e-01, -2.04578009e-01, -4.47101673e-01,  5.81801867e-02,
        6.28922147e-01, -9.99581891e-01, -7.67351589e-01,  1.97420081e+00,
       -7.06109263e-01,  1.32344078e-01, -4.29312918e-01,  1.12034976e+00,
       -1.07076172e+00, -1.72839177e+00,  3.58394005e-01, -5.57240827e-01,
        8.62650345e-01, -3.89275454e-01,  1.61920487e-01, -1.53365906e+00,
        8.36640049e-01,  4.62233410e-01, -2.27941596e+00,  2.56664993e-01,
       -2.40224570e-01, -5.82174662e-02,  1.44629011e+00, -9.34749713e-01,
       -7.86327564e-01,  1.11617600e+00, -1.03935482e+00, -1.39899340e-01,
        2.39553792e+00,  7.61191663e-01, -1.54992006e-01,  4.46379745e-01,
        2.80764017e-01,  1.10407977e+00, -9.10169344e-01,  8.67016968e-01,
        1.13733756e+00,  1.46376083e+00,  5.36147174e-01, -5.36464826e-01,
       -3.34071003e-01,  1.57563940e+00,  4.75523706e-03, -1.61719052e+00,
       -9.06495626e-02,  2.76384944e-01, -1.49083372e+00, -1.03429607e+00,
        2.09330646e+00,  1.22595656e+00,  1.63603435e+00, -1.59114778e-01,
        9.54940559e-01,  1.45336096e-01, -2.38426309e-01,  1.93790102e+00,
        1.45713921e+00, -1.39839564e-01,  1.66009385e+00, -7.15918143e-01,
        3.05529894e-02,  8.57234818e-01,  2.92236642e+00,  8.85299706e-01,
        4.23830811e-01, -2.20461755e-01, -6.74520351e-02, -1.21395426e+00,
       -5.32903072e-02, -4.03988104e-01, -4.97381600e-01,  1.57104632e+00,
       -9.55638632e-01,  1.87623181e-01,  2.51921608e-01,  1.34029104e+00,
        2.24264681e+00, -1.00355945e+00,  7.28664689e-01, -4.88379249e-01,
       -1.11805584e+00,  3.52565393e-01, -1.40977590e-01, -1.15336506e+00,
       -3.22214765e-01, -5.19345309e-01, -1.09501736e-01,  6.06117218e-01,
        1.18305822e-01,  2.52976446e-01,  1.47872767e+00, -1.45440428e+00,
       -1.56010643e+00,  5.56063338e-02,  5.01417919e-01, -1.70578698e+00,
       -1.59236689e+00, -1.31998795e-01, -4.90231348e-02, -1.61979508e+00,
        7.47334761e-01, -1.22829441e+00, -1.18855249e-01,  5.77642695e-01,
       -2.96917264e-01, -4.05442618e-01, -1.46854212e-01,  3.57864791e-01,
       -2.02378879e+00, -6.89330579e-01,  9.74465075e-01, -5.92402557e-01,
       -7.35362089e-01,  8.98351360e-01, -1.14218163e+00,  7.92883749e-02,
        1.14319161e+00, -1.25736813e-03, -2.62577425e-01, -6.60577386e-02,
       -8.66812679e-01, -9.62431222e-01,  1.17979627e+00,  5.30001772e-01,
        4.20762193e-01, -4.06708389e-02,  6.63518159e-01,  1.05443893e+00,
        2.20367494e+00,  8.54915263e-02, -5.29454821e-02, -1.04237166e+00,
        1.37964404e+00,  1.16866127e+00, -6.22254616e-01, -6.23234407e-01,
        4.28375340e-01, -1.08797943e-01,  1.48349903e-01, -1.28359883e+00,
        2.30072254e-01,  1.30989408e+00,  5.05664570e-01,  8.36084182e-01,
        8.56419574e-01,  1.51770658e-01,  4.45537514e-01, -1.39800936e+00,
       -5.11790871e-01, -1.46632367e+00, -4.39133528e-01,  1.31540268e+00,
        1.33797015e+00, -1.03663244e+00,  1.12088317e+00, -2.60631155e-01,
       -1.70766844e-01, -1.14674915e+00,  2.20192038e-01, -8.76706372e-01,
       -2.57650742e-01, -1.40334155e+00,  9.11922984e-01, -9.19082811e-01,
        2.32148711e+00, -5.14911620e-02, -3.21590469e+00,  8.68643699e-01,
       -6.35003917e-01,  4.68513875e-01, -4.85104644e-01, -7.22747386e-01,
        8.09149491e-01,  6.30618087e-01, -1.75441426e-01, -2.56532232e-02,
        8.72274618e-01, -6.58141613e-01,  4.43384816e-01, -2.05927355e-01,
        5.06394623e-01, -7.17826060e-01, -1.18837376e-01, -1.86995381e+00,
        2.55532724e+00,  3.65109003e-01, -7.40619494e-02, -1.10832820e+00,
        2.79626730e-01,  5.78495672e-01, -1.95525852e+00,  9.02391382e-01,
       -1.49128229e+00, -4.21361015e-01, -1.00586617e+00, -1.55472303e+00,
        5.45750386e-01,  2.88061021e-01, -9.81167981e-01,  1.50218722e+00,
        1.37477935e+00, -3.17605256e+00, -5.59118696e-01, -5.21126551e-01,
       -1.07885174e+00,  1.51856809e+00,  1.13584198e-01,  1.51334333e+00,
       -2.53040443e-01, -4.66034018e-01,  1.76906508e+00, -1.09972319e+00,
        1.37411552e+00, -8.20688771e-01, -1.42617768e-01, -4.51463874e-01,
       -8.94974109e-01, -9.04806153e-01, -7.40085763e-01,  6.02358837e-01,
       -3.52276910e-01, -4.61143390e-01, -1.07273428e+00, -9.28502990e-01,
       -3.30737040e-01, -7.72137889e-01, -3.57287340e-02, -2.35759642e+00,
       -7.99821048e-01,  2.11061774e-01, -5.57936025e-02, -1.09887901e-01,
        9.09365178e-01, -6.54404825e-01,  2.46789246e-01, -1.11491636e+00,
       -6.33541781e-01,  4.27965477e-01, -1.53838896e+00,  5.08200956e-01,
       -1.10145326e+00,  9.74790237e-01,  6.05130583e-01,  1.27587920e+00,
       -6.00441627e-01, -6.11268530e-01,  1.30528412e-01, -6.47986776e-01,
       -1.15714748e+00,  1.79323404e-01, -8.35073483e-01,  1.29132269e+00,
        7.52297156e-01, -5.66633050e-01,  5.72441674e-01,  7.96882888e-02,
        8.44768353e-01, -1.53091720e+00, -1.13412903e+00,  8.17549071e-01,
        9.19542101e-01,  5.01625226e-01, -7.03498680e-01, -1.20162732e+00,
        1.48752505e+00,  1.16781824e-01, -1.01741630e+00,  1.88091020e+00,
        2.16426041e-01,  5.64249315e-01,  5.26098186e-01, -2.23524406e-01,
       -5.97760057e-01, -7.84175945e-01,  2.16487847e+00,  1.27553658e+00,
        1.55007792e+00, -7.05576807e-01,  3.53442712e-01, -1.04968933e+00,
        5.25919751e-01,  1.09315187e+00,  9.41904338e-02, -4.02817306e-01,
       -1.21728504e+00,  2.75198463e+00, -7.18128320e-01, -4.08854975e-01,
        7.99728269e-01, -1.46299023e-01,  1.20596249e+00, -3.91078963e-01,
        4.87187830e-01, -1.25390977e+00, -1.01389736e-01,  2.04224407e+00,
       -1.73232646e+00,  3.16344318e-01,  1.18804290e+00,  1.50318031e+00,
       -4.82612710e-01,  1.16066005e+00, -3.55030342e-01,  7.51048556e-01,
       -3.49604155e-01,  9.14476902e-01, -4.01140347e-01, -5.49166756e-01,
        1.49081933e+00, -5.00682838e-01,  2.44211824e-01, -1.56207943e-01,
        5.93599956e-01, -4.66330580e-01,  6.24793455e-01,  1.01786340e+00,
       -6.67158262e-01, -1.16503280e+00, -1.28774348e+00, -1.01451883e-01,
        6.78488732e-01,  2.11416490e+00,  3.94846980e-01, -2.16862197e+00,
        2.07450212e-01,  4.87520135e-01,  6.32648048e-01, -5.29096950e-01,
       -8.45344597e-01,  7.91893207e-01,  9.75147095e-01, -9.57485274e-01,
       -1.68005471e-01,  1.67977285e+00,  1.87999526e-01,  1.00654520e+00,
       -1.76415070e+00,  1.86534144e-01,  2.09300652e-01, -2.94235090e+00,
        1.36278238e+00, -1.14908846e+00, -4.82259279e-01, -1.60840618e+00,
       -1.11606899e+00,  8.88873859e-01,  1.40067215e+00,  5.86746373e-01,
       -8.00259312e-01,  1.09673877e+00, -8.37334457e-01,  4.80016943e-01,
       -4.83501556e-01, -1.01547319e+00,  2.41649470e+00, -2.99619572e-01,
        7.75869872e-01, -3.62567604e-01, -4.08528120e-01,  3.57566885e-01,
        9.93620859e-01,  1.06892833e+00,  1.24819945e+00,  1.67832743e+00,
        6.11141452e-01,  1.00497757e-01,  1.16745956e-01, -1.44703011e-01,
        1.30911273e+00,  1.73482644e+00, -1.04100287e+00,  9.15734185e-02,
        1.57085491e+00,  1.05257832e+00,  3.35295613e-01,  6.82729803e-02,
       -1.62045214e+00,  9.52114101e-01,  1.13764971e+00,  1.72505369e+00,
        1.29656247e-01,  1.49981531e+00, -2.34942983e+00, -2.26910024e-02,
       -5.83307327e-01,  1.27385966e+00, -4.77710093e-01, -7.26217632e-01,
       -8.06004707e-01, -9.52400101e-01,  1.94844968e-02,  5.23473191e-01,
        6.89672503e-01, -5.64099423e-01, -1.75240561e+00, -5.84522369e-01,
        1.79173006e+00, -4.58447353e-02, -3.02841368e-01, -4.10608990e-01,
       -8.41281722e-01,  1.96608198e+00,  9.27595049e-02,  1.51111084e+00,
       -4.15434000e-02,  1.91949115e-02,  6.16252240e-01,  6.46912961e-01,
       -1.04892565e+00,  4.15788959e-01, -3.53767885e-01,  5.29834115e-01,
        5.11851797e-01, -1.65808417e+00,  2.01248943e+00,  1.64169778e+00,
       -2.14740835e+00, -5.26062481e-01, -1.29179038e-01, -2.43641113e-02,
        9.25149021e-01, -8.17379049e-01, -1.35707264e+00, -5.87484136e-03,
        2.64357119e+00, -2.03870185e+00, -9.64689197e-01,  1.24879354e+00,
       -8.32238351e-03,  4.98246070e-01,  3.45505447e-01,  2.46006211e-01,
       -4.61748789e-01, -4.10187512e-01, -1.37648290e-01, -1.04029422e+00,
       -9.71064645e-01, -8.57139099e-01, -4.90999711e-02, -5.54648679e-01,
       -1.60869469e+00,  5.44010277e-01, -2.90233560e-01, -1.00592100e+00,
       -5.82300128e-01, -7.91760522e-01,  8.65043244e-01,  1.51616417e+00,
       -3.62273227e-01,  4.72698249e-01, -1.34263992e-01,  3.13363603e-01,
        6.08144516e-01,  4.54725939e-01,  9.92159235e-01, -1.06218288e+00,
        2.55422912e-01, -2.55526995e+00,  8.64954036e-01,  2.15337607e-01,
        8.15123674e-01, -5.98278168e-01,  8.75395604e-01, -1.29422019e+00,
        4.50659449e-01, -1.27007735e+00, -1.13101801e+00,  4.90207460e-01,
       -3.87552026e+00,  3.66919240e-01, -4.93187809e-01, -1.84370708e-02,
       -4.66563080e-01,  5.35591258e-01, -3.39079101e-01,  5.33163934e-02,
        3.48160211e-01,  8.40146259e-01, -1.12402028e+00, -9.11472163e-01,
       -1.25453210e+00,  1.28206643e+00, -8.83391180e-01, -1.63624398e+00,
       -3.61442933e-01, -6.32518086e-01, -1.14719046e+00,  2.95229196e+00,
        5.14443347e-02,  5.62019416e-01,  8.62898328e-02,  1.11969306e+00,
       -8.77603667e-01,  6.35568520e-01, -6.61047881e-01,  8.06595661e-01,
        1.69150548e+00,  3.43990899e-01, -1.66650717e+00, -2.89288320e-01,
        3.30739206e-01,  5.70741854e-02,  6.94646811e-01, -8.04763407e-01,
       -4.68358125e-01,  5.00177401e-02,  8.40814268e-01,  1.02259727e+00,
        2.81121716e-01,  5.04797461e-01, -2.32345098e+00, -2.95385556e-02,
        1.18914165e+00, -8.61288385e-01, -2.32552920e-01, -1.69809647e+00,
        3.55402499e-01,  4.03303242e-01,  1.90848292e+00,  2.10618768e+00,
       -1.25965907e+00,  1.13439290e+00, -4.99151205e-01, -3.39647849e-01,
       -1.47170583e+00,  1.71139327e+00,  1.95872869e+00,  8.72441021e-01,
       -6.15840296e-01,  1.44777125e+00, -6.55539213e-01,  4.82748761e-01,
        1.93359715e+00, -4.42447493e-01, -1.30274820e+00, -6.96170582e-01,
        3.38414618e-01,  9.56434282e-01, -4.44124307e-01,  4.55505899e-02,
       -1.66522343e+00,  4.45908915e-03,  1.16636343e+00, -1.42916630e-01,
       -7.38370613e-01, -2.45619004e-01, -1.32869127e+00,  2.86482753e-02,
        8.66696590e-01, -1.02962732e+00,  7.11975967e-01, -1.67058671e+00,
       -3.12583142e-01, -1.93216089e+00,  4.75441064e-02, -3.24305247e-01,
        9.19088685e-01,  4.30648296e-01,  5.59749427e-01, -9.67200321e-01,
        3.87128740e-01,  9.65040960e-02, -1.02544459e+00, -7.15399664e-01,
       -6.26971322e-01,  2.69361284e-01,  1.41632339e+00,  3.75384394e-01,
       -2.56919375e+00,  1.12038018e+00,  1.51458736e+00,  1.56802024e-01,
        3.53078869e-01, -2.76951086e-01, -9.46267393e-01, -2.69750778e+00,
        2.08242586e+00,  7.74604116e-01,  5.47630560e-01,  4.49653911e-01,
       -1.70025071e+00,  8.68914645e-01, -3.06349727e-01,  7.23393705e-02,
        7.46593378e-01,  6.11280277e-01, -2.52818964e-02, -4.21514321e-01,
       -6.43076563e-02,  3.11567867e-01, -1.00216213e+00, -1.93577585e-01,
       -9.52270841e-01, -3.47337597e-01,  8.31764992e-01,  2.14370835e-01,
        4.48849333e-01, -4.40949136e-01, -1.72383746e-01, -3.66682499e-01,
        1.13354511e+00, -4.50023842e-01,  1.47069133e-01,  4.44014230e-01,
        5.07879011e-01, -2.47858147e-01, -2.05276817e-01, -1.77131625e-01,
       -1.27638021e+00, -9.00423109e-01,  7.71928827e-01,  1.04531704e+00,
       -6.87762584e-01, -7.27114450e-01,  9.52747650e-01,  1.33431004e+00,
       -3.47153456e-01, -7.36270305e-01, -4.98136271e-01,  1.11965135e-01,
       -9.39649089e-01, -1.85625988e+00,  2.96966048e-01,  5.68663131e-01,
       -4.06887483e-01, -6.77007601e-01,  1.19606218e-01,  6.66047882e-02,
       -1.21960641e+00, -6.43997205e-01,  1.40719015e-01,  1.47544703e+00,
       -7.13055151e-01, -7.53619834e-01,  5.82310557e-01, -9.83981917e-01,
       -3.98800647e-01,  4.22663815e-01, -5.65483435e-01,  1.16891707e-01,
        1.17175826e-01, -7.94758666e-02, -6.40083852e-01,  5.32176273e-01,
       -5.91158643e-01,  2.22246699e+00,  6.24190072e-02,  2.33122944e-01,
       -1.26302420e+00,  1.71721328e-01, -3.17304298e-01, -8.94219083e-01,
        9.01569562e-01, -2.18325642e+00, -2.45953550e-01, -9.13484389e-01,
       -1.62032028e+00, -1.41053472e+00,  2.34951553e-01,  2.06766514e-01,
       -1.26600014e+00,  2.27357328e-01,  8.56537432e-01, -1.64187198e+00,
       -1.57610374e+00, -1.95989350e-01,  8.36099191e-01, -1.84562546e+00,
        6.96692778e-01,  2.49978548e-01,  9.47810200e-02, -7.38342283e-01,
       -6.11232684e-01, -4.20867569e-01, -3.78532814e-01,  2.53174064e-01,
       -1.51423540e-01, -5.94649851e-01, -7.82392659e-02, -4.51838587e-01,
       -7.58897139e-01, -8.27540124e-01,  1.15796659e+00,  7.21464102e-02,
        3.61684577e-01, -1.59316383e+00, -1.64161056e+00, -1.40558155e+00,
        1.83547448e-01, -1.97353077e+00, -1.29842584e+00, -1.58910543e+00,
       -2.07428404e+00,  2.52616954e-01,  1.15972975e+00,  7.50520415e-01,
        2.28318258e+00,  3.85299924e-01,  1.34024079e+00, -1.10244830e-01,
       -2.56689929e+00, -8.15614406e-01,  4.22728801e-02, -1.48879018e+00,
       -1.66669145e+00,  9.17278202e-01,  1.45137418e-01,  2.90100678e-02,
        1.24704822e-01, -2.58593506e-01, -1.09931281e-02, -8.73636790e-01,
        2.42242034e+00, -1.36615608e+00, -1.05484763e+00, -8.42363685e-01,
        2.37142258e+00,  1.17138129e+00, -7.43356553e-01,  9.67169155e-01,
        8.22685647e-01,  2.87308762e-01,  3.60186484e-01,  6.19067807e-02,
        8.76021786e-01, -1.37895522e-01,  3.74032534e-01, -3.38774054e-01,
        2.84128514e-01,  1.34624566e-01, -3.50944467e-01,  9.59030143e-01,
        8.51783418e-01,  2.02858804e+00,  4.17283733e-01,  1.12675568e+00,
        3.95068784e-01,  1.40978439e+00, -4.79206139e-01, -4.80525605e-01,
       -1.50802042e+00,  2.73651147e+00, -1.11728871e+00,  6.14321880e-01,
        7.18489674e-01, -7.26930057e-01,  6.97989632e-01, -1.19038674e+00,
        4.64515350e-02,  5.94094828e-01, -8.16383061e-01, -4.18870731e-01,
       -7.57660692e-02,  1.32454953e+00,  1.07068638e+00,  6.02590679e-02,
       -4.50808603e-01, -1.76609092e-01,  3.88417513e-01, -4.55907391e-01,
        1.30886346e+00,  1.05247366e+00,  4.23689759e-01, -6.39254781e-01,
        4.38174268e-01, -3.57151615e-01,  4.92940132e-01,  1.80749162e+00,
       -1.03510224e+00,  5.35957756e-01,  2.86987278e-01,  2.13872856e+00,
        1.39054493e-01, -9.46916646e-01,  7.73304208e-01, -6.92604261e-01,
       -1.09642975e+00,  6.36316694e-01,  2.03025237e-01, -9.15887371e-01,
        1.07934226e+00, -6.51000210e-02,  1.84578689e+00, -1.61902784e+00,
        1.72163732e+00, -4.19746839e-01,  6.78140385e-01,  3.16497549e+00,
        8.06417103e-01, -1.64049678e+00,  1.27020686e+00,  1.07742516e+00,
       -9.95788464e-01, -1.42805825e-01,  1.29939455e+00, -2.57848823e-01,
        7.06311743e-01, -9.59617754e-01,  1.51232900e-02, -8.42338270e-01,
        2.03970284e-01,  4.56353298e-01,  1.54365086e+00,  1.04274014e+00,
       -2.10176697e-01,  1.09219428e+00,  2.81196602e-01,  4.28457238e-02,
       -8.88996534e-01,  9.48677048e-01, -2.33580876e-01,  5.38646813e-01,
        4.75922324e-01, -9.60862790e-02,  4.69227475e-01,  1.33935787e+00,
       -2.21159799e+00,  1.37359958e+00,  1.00362943e+00, -4.34324827e-02,
        6.07186579e-01, -1.20150047e+00,  4.01022736e-01,  1.51570694e+00,
        5.62662073e-01, -1.63409084e+00, -7.40143861e-01, -1.42411055e+00,
       -1.54423140e+00,  1.46782841e+00, -3.56473765e-02, -2.47881013e-01,
       -1.09447979e-01,  1.63725443e+00,  3.96001518e-01,  1.07132659e+00,
        2.00738483e+00,  4.56347697e-01,  1.02329444e+00, -9.48886361e-01])

In [31]:
interval = pd.qcut( data, 4)
interval

[(0.0247, 0.689], (-0.699, 0.0247], (-0.699, 0.0247], (-3.877, -0.699], (-0.699, 0.0247], ..., (0.689, 3.165], (0.689, 3.165], (0.0247, 0.689], (0.689, 3.165], (-3.877, -0.699]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.877, -0.699] < (-0.699, 0.0247] < (0.0247, 0.689] <
                                           (0.689, 3.165]]

In [32]:
type(interval)

pandas.core.arrays.categorical.Categorical

In [33]:
interval = pd.qcut( data, 4, labels=['q1', 'q2', 'q3', 'q4'])
interval

['q3', 'q2', 'q2', 'q1', 'q2', ..., 'q4', 'q4', 'q3', 'q4', 'q1']
Length: 1000
Categories (4, object): ['q1' < 'q2' < 'q3' < 'q4']

In [34]:
interval = pd.Series( interval, name='qtr')
interval

0      q3
1      q2
2      q2
3      q1
4      q2
       ..
995    q4
996    q4
997    q3
998    q4
999    q1
Name: qtr, Length: 1000, dtype: category
Categories (4, object): ['q1' < 'q2' < 'q3' < 'q4']

In [35]:
pd.Series( data).groupby(interval).agg(['count', 'min', 'max']).reset_index()

  qtr  count       min       max
0  q1    250 -3.875520 -0.703499
1  q2    250 -0.697326  0.020678
2  q3    250  0.028648  0.689263
3  q4    250  0.689673  3.164975

** *********************************** **
***new task***

In [42]:
df = pd.read_csv('/content/fifa.csv')
df.head()

,Unnamed: 0,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,...,76.0,NaN,25.0,21.0,20.0,6.0,11.0,15.0,14.0,8.0
1,1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,...,85.0,NaN,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,...,80.0,NaN,29.0,26.0,26.0,10.0,8.0,11.0,5.0,15.0
3,3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,...,91.0,NaN,25.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0
4,4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,...,37.0,NaN,25.0,25.0,25.0,87.0,85.0,92.0,90.0,86.0

Warning: Total number of columns (81) exceeds max_columns (20) limiting to first (20) columns.

In [43]:
df.columns

Index(['Unnamed: 0', 'sofifa_id', 'player_url', 'short_name', 'long_name',
       'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club_name',
       'league_name', 'league_rank', 'overall', 'potential', 'value_eur',
       'wage_eur', 'player_positions', 'preferred_foot',
       'international_reputation', 'weak_foot', 'skill_moves', 'work_rate',
       'body_type', 'real_face', 'release_clause_eur', 'player_tags',
       'team_position', 'team_jersey_number', 'loaned_from', 'joined',
       'contract_valid_until', 'nation_position', 'nation_jersey_number',
       'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed',
       'gk_positioning', 'player_traits', 'attacking_crossing',
       'attacking_finishing', 'attacking_heading_accuracy',
       'attacking_short_passing', 'attacking_volleys', 'skill_dribbling',
       'skill_curve', 'skill_fk_accuracy', 'skill_long_passing',
       'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed',
       'movement_agility', 'movement_reactions', 'movement_balance',
       'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength',
       'power_long_shots', 'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking', 'defending_standing_tackle',
       'defending_sliding_tackle', 'goalkeeping_diving',
       'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes'],
      dtype='object')

In [44]:
len( df)

10165

In [47]:
df[['shooting', 'passing']]

       shooting  passing
0          89.0     86.0
1          93.0     81.0
2          86.0     83.0
3          91.0     81.0
4           NaN      NaN
...         ...      ...
10160      58.0     57.0
10161      53.0     66.0
10162      60.0     45.0
10163      56.0     51.0
10164      60.0     52.0

[10165 rows x 2 columns]

In [51]:
df[['shooting', 'passing']].query('shooting < passing').head()

    shooting  passing
6       72.0     89.0
7       82.0     84.0
9       81.0     85.0
10      78.0     85.0
14      56.0     84.0

6. df.iloc()
This function takes as a parameter the rows and column indices and gives you the subset of the DataFrame accordingly. Here I am taking the first 10 rows of data and index 5th to index 10th columns:

In [71]:
df.iloc[-15:-5:2, 3:11:2] # rows, columns

           short_name  age  height_cm nationality
10150   P. De Miranda   28        184   Argentina
10152        Z. Ayvaz   24        188      Turkey
10154     M. Tounkara   18        182       Spain
10156     A. Campbell   19        168     England
10158  F. Fumu Tamuzo   19        180      France

7. df.loc()
This function does almost the similar operation as .iloc() function. But here we can specify exactly which row index we want and also the name of the columns we want in our subset. Here is an example:

In [73]:
df.loc[[12, 89, 9],['short_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality']]

           short_name  age         dob  height_cm  weight_kg nationality
12            G. Bale   24  1989-07-16        183         74       Wales
89        Diego López   32  1981-11-03        196         87       Spain
9   B. Schweinsteiger   29  1984-08-01        183         79     Germany

In [84]:
# print( df.dtypes, type(df.dtypes) )
s = df.dtypes
s.tail()
df['nationality'].dtypes

dtype('O')

In [88]:
# df.select_dtypes(include='O')
# df.select_dtypes(include='int64')
# df.select_dtypes(include='float64')
df.select_dtypes(exclude='O')

,Unnamed: 0,sofifa_id,age,height_cm,weight_kg,league_rank,overall,potential,value_eur,wage_eur,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,0,158023,27,169,67,1.0,93,95,100500000,550000,...,76.0,NaN,25.0,21.0,20.0,6.0,11.0,15.0,14.0,8.0
1,1,20801,29,185,80,1.0,92,92,79000000,375000,...,85.0,NaN,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,2,9014,30,180,80,1.0,90,90,54500000,275000,...,80.0,NaN,29.0,26.0,26.0,10.0,8.0,11.0,5.0,15.0
3,3,41236,32,195,95,1.0,90,90,52500000,275000,...,91.0,NaN,25.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0
4,4,167495,28,193,92,1.0,90,90,63500000,300000,...,37.0,NaN,25.0,25.0,25.0,87.0,85.0,92.0,90.0,86.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10160,10160,215452,19,178,60,2.0,61,78,190000,4000,...,42.0,NaN,25.0,25.0,25.0,13.0,4.0,6.0,9.0,13.0
10161,10161,215818,18,170,61,2.0,61,78,160000,2000,...,54.0,NaN,48.0,56.0,53.0,14.0,11.0,6.0,6.0,11.0
10162,10162,223199,18,187,76,1.0,61,78,190000,2000,...,48.0,NaN,29.0,30.0,25.0,6.0,7.0,13.0,14.0,11.0
10163,10163,224149,18,180,72,1.0,61,78,190000,2000,...,40.0,NaN,22.0,22.0,25.0,9.0,11.0,11.0,13.0,14.0
10164,10164,212613,19,171,65,2.0,61,77,170000,4000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
rand_col = np.random.randint( 100, size=len( df))
rand_col

array([22, 61, 42, ..., 71, 47, 29])

In [90]:
df.insert( 4, 'random_col', rand_col)
df.head()

,Unnamed: 0,sofifa_id,player_url,short_name,random_col,long_name,age,dob,height_cm,weight_kg,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,22,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,...,76.0,NaN,25.0,21.0,20.0,6.0,11.0,15.0,14.0,8.0
1,1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,61,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,...,85.0,NaN,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,42,Arjen Robben,30,1984-01-23,180,80,...,80.0,NaN,29.0,26.0,26.0,10.0,8.0,11.0,5.0,15.0
3,3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,1,Zlatan Ibrahimović,32,1981-10-03,195,95,...,91.0,NaN,25.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0
4,4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,82,Manuel Neuer,28,1986-03-27,193,92,...,37.0,NaN,25.0,25.0,25.0,87.0,85.0,92.0,90.0,86.0

In [92]:
df[['value_eur', 'wage_eur']].head(20).cumsum()

    value_eur  wage_eur
0   100500000    550000
1   179500000    925000
2   234000000   1200000
3   286500000   1475000
4   350000000   1775000
5   399500000   2075000
6   435500000   2325000
7   476000000   2535000
8   516500000   2765000
9   555500000   2965000
10  588500000   3165000
11  635000000   3415000
12  674000000   3615000
13  718000000   3825000
14  742500000   4015000
15  774000000   4235000
16  803000000   4425000
17  839500000   4645000
18  876000000   4865000
19  911000000   5055000

In [93]:
df.sample( n = 150)

,Unnamed: 0,sofifa_id,player_url,short_name,random_col,long_name,age,dob,height_cm,weight_kg,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
7790,7790,221968,https://sofifa.com/player/221968/julio-cesar-r...,J. Rodríguez,62,Julio César Rodríguez Giménez,23,1990-12-05,182,85,...,65.0,NaN,21.0,22.0,22.0,9.0,11.0,13.0,10.0,8.0
6797,6797,192363,https://sofifa.com/player/192363/mads-fenger/1...,M. Fenger,12,Mads Fenger,23,1990-09-10,185,81,...,32.0,NaN,70.0,69.0,67.0,5.0,12.0,9.0,5.0,13.0
1268,1268,162893,https://sofifa.com/player/162893/johan-djourou...,J. Djourou,56,Johan Danon Djourou-Gbadjere,27,1987-01-18,191,87,...,49.0,NaN,73.0,75.0,71.0,15.0,14.0,12.0,6.0,13.0
4532,4532,157482,https://sofifa.com/player/157482/jamie-mackie/...,J. Mackie,66,Jamie Mackie,28,1985-09-22,173,71,...,71.0,NaN,50.0,58.0,52.0,9.0,14.0,6.0,6.0,12.0
9370,9370,199224,https://sofifa.com/player/199224/alexandr-kozl...,A. Kozlov,39,Aleksandr Kozlov,21,1993-03-19,172,72,...,63.0,NaN,25.0,21.0,24.0,6.0,11.0,8.0,7.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6669,6669,218981,https://sofifa.com/player/218981/helibelton-pa...,H. Palacios,7,Helibelton Palacios Zapata,21,1993-06-11,177,75,...,38.0,NaN,61.0,64.0,66.0,13.0,14.0,15.0,14.0,5.0
7466,7466,224169,https://sofifa.com/player/224169/sebastian-zun...,S. Zúñiga,76,Sebastián Zúñiga Fuenzalida,24,1990-06-21,174,72,...,69.0,NaN,23.0,27.0,25.0,13.0,15.0,8.0,5.0,11.0
7547,7547,200360,https://sofifa.com/player/200360/igor-portnyag...,I. Portnyagin,51,Igor Portnyagin,25,1989-01-07,191,74,...,50.0,NaN,25.0,25.0,22.0,10.0,12.0,11.0,7.0,5.0
6323,6323,199310,https://sofifa.com/player/199310/sang-wook-jeo...,Jeon Sang Wook,80,전상욱 Sang Wook Jeon,34,1979-09-22,191,83,...,25.0,NaN,25.0,25.0,25.0,65.0,64.0,64.0,71.0,66.0
7526,7526,186238,https://sofifa.com/player/186238/jake-kean/150002,J. Kean,67,Jake Kean,23,1991-02-04,193,76,...,25.0,NaN,25.0,25.0,25.0,67.0,59.0,47.0,63.0,70.0

In [94]:
df.sample( frac=0.13)

,Unnamed: 0,sofifa_id,player_url,short_name,random_col,long_name,age,dob,height_cm,weight_kg,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
4594,4594,172619,https://sofifa.com/player/172619/enzo-gutierre...,E. Gutiérrez,19,Enzo Hernán Gutiérrez Lencinas,28,1986-05-28,184,83,...,63.0,NaN,28.0,27.0,25.0,13.0,5.0,15.0,14.0,11.0
6980,6980,53034,https://sofifa.com/player/53034/jamel-ait-ben-...,J. Aït Ben Idir,57,Jamel Aït Ben Idir,30,1984-01-10,173,75,...,55.0,NaN,60.0,65.0,64.0,11.0,10.0,14.0,15.0,14.0
1254,1254,203793,https://sofifa.com/player/203793/aron-johannss...,A. Jóhannsson,69,Aron Jóhannsson,23,1990-11-10,184,75,...,77.0,NaN,25.0,24.0,20.0,14.0,14.0,9.0,12.0,6.0
4723,4723,211320,https://sofifa.com/player/211320/daniele-rugan...,D. Rugani,87,Daniele Rugani,19,1994-07-29,188,78,...,33.0,NaN,71.0,73.0,67.0,4.0,9.0,4.0,4.0,4.0
4383,4383,201004,https://sofifa.com/player/201004/odair-junior-...,Odaïr Fortes,89,Odaïr Junior Lopes Fortes,27,1987-03-31,185,68,...,47.0,NaN,23.0,29.0,25.0,5.0,6.0,10.0,13.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,673,183498,https://sofifa.com/player/183498/marco-parolo/...,M. Parolo,28,Marco Parolo,29,1985-01-25,186,82,...,44.0,NaN,62.0,79.0,82.0,12.0,8.0,5.0,6.0,8.0
5307,5307,155494,https://sofifa.com/player/155494/dawid-plizga/...,D. Plizga,88,Dawid Plizga,28,1985-11-17,173,73,...,66.0,NaN,26.0,43.0,24.0,13.0,10.0,7.0,6.0,10.0
2094,2094,192528,https://sofifa.com/player/192528/steven-de-sou...,Steven Vitória,27,Steven de Sousa Vitória,27,1987-01-11,195,86,...,85.0,NaN,72.0,76.0,70.0,13.0,6.0,7.0,5.0,5.0
2709,2709,152922,https://sofifa.com/player/152922/edgar-barreto...,E. Barreto,87,Édgar Osvaldo Barreto Cáceres,29,1984-07-15,182,78,...,61.0,NaN,62.0,74.0,74.0,10.0,5.0,14.0,13.0,14.0
680,680,201399,https://sofifa.com/player/201399/mauro-icardi/...,M. Icardi,25,Mauro Emanuel Icardi Rivero,21,1993-02-19,181,75,...,68.0,NaN,25.0,25.0,25.0,12.0,8.0,4.0,6.0,8.0

Warning: Total number of columns (82) exceeds max_columns (20) limiting to first (20) columns.

In [101]:
df['random_col'].where( df['random_col'] >55 , -1 )

0        -1
1        61
2        -1
3        -1
4        82
         ..
10160    -1
10161    -1
10162    71
10163    -1
10164    -1
Name: random_col, Length: 10165, dtype: int64

In [107]:
df.skill_moves.unique()

array([4, 5, 1, 3, 2])

In [108]:
df.skill_moves.nunique()

5

In [109]:
df.nunique()

Unnamed: 0                 10165
sofifa_id                  10165
player_url                 10165
short_name                  9732
random_col                   100
                           ...
goalkeeping_diving            56
goalkeeping_handling          59
goalkeeping_kicking           69
goalkeeping_positioning       59
goalkeeping_reflexes          58
Length: 82, dtype: int64

In [110]:
df['rank_calc'] = df['value_eur'].rank()
df['rank_calc']

0        10165.0
1        10164.0
2        10162.0
3        10161.0
4        10163.0
          ...
10160      440.5
10161      375.5
10162      440.5
10163      440.5
10164      391.0
Name: rank_calc, Length: 10165, dtype: float64

In [111]:
nations = ['Argentina', 'Portugal', 'Sweden', 'England']
df[df.nationality.isin( nations) ]

,Unnamed: 0,sofifa_id,player_url,short_name,random_col,long_name,age,dob,height_cm,weight_kg,...,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,rank_calc
0,0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,22,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,...,NaN,25.0,21.0,20.0,6.0,11.0,15.0,14.0,8.0,10165.0
1,1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,61,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,...,NaN,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,10164.0
3,3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,1,Zlatan Ibrahimović,32,1981-10-03,195,95,...,NaN,25.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0,10161.0
23,23,183898,https://sofifa.com/player/183898/angel-di-mari...,A. Di María,73,Ángel Fabián Di María Hernández,26,1988-02-14,180,70,...,NaN,42.0,63.0,61.0,10.0,7.0,11.0,12.0,11.0,10157.5
26,26,153079,https://sofifa.com/player/153079/sergio-aguero...,S. Agüero,59,Sergio Leonel Agüero del Castillo,26,1988-06-02,172,74,...,NaN,25.0,20.0,25.0,13.0,15.0,6.0,11.0,14.0,10157.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10138,10138,219615,https://sofifa.com/player/219615/diego-caballe...,D. Caballero,86,Diego Gabriel Caballero,29,1985-03-26,174,72,...,NaN,25.0,21.0,25.0,13.0,8.0,13.0,6.0,12.0,1926.0
10150,10150,224105,https://sofifa.com/player/224105/pablo-de-mira...,P. De Miranda,44,Pablo Timoteo De Miranda,28,1986-02-24,184,82,...,NaN,63.0,64.0,62.0,8.0,12.0,15.0,8.0,10.0,1163.0
10153,10153,225277,https://sofifa.com/player/225277/carlos-de-gio...,C. De Giorgi,6,Carlos De Giorgi,30,1984-04-23,186,79,...,NaN,25.0,25.0,25.0,65.0,63.0,55.0,57.0,65.0,1583.5
10155,10155,205481,https://sofifa.com/player/205481/mason-bennett...,M. Bennett,20,Mason Bennett,17,1996-07-15,178,64,...,NaN,22.0,40.0,27.0,13.0,14.0,9.0,9.0,6.0,440.5
10156,10156,206567,https://sofifa.com/player/206567/adam-campbell...,A. Campbell,64,Adam Campbell,19,1995-01-01,168,62,...,NaN,25.0,25.0,25.0,14.0,11.0,14.0,7.0,7.0,440.5

In [113]:
df['league_rank'].replace( 1.0, 1.1)

0        1.1
1        1.1
2        1.1
3        1.1
4        1.1
        ...
10160    2.0
10161    2.0
10162    1.1
10163    1.1
10164    2.0
Name: league_rank, Length: 10165, dtype: float64

In [114]:
df.replace({1.0: 1.1,  4.0: 4.1, 3.0: 3.1})

,Unnamed: 0,sofifa_id,player_url,short_name,random_col,long_name,age,dob,height_cm,weight_kg,...,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,rank_calc
0,0.0,158023.0,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,22.0,Lionel Andrés Messi Cuccittini,27.0,1987-06-24,169.0,67.0,...,NaN,25.0,21.0,20.0,6.0,11.0,15.0,14.0,8.0,10165.0
1,1.1,20801.0,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,61.0,Cristiano Ronaldo dos Santos Aveiro,29.0,1985-02-05,185.0,80.0,...,NaN,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,10164.0
2,2.0,9014.0,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,42.0,Arjen Robben,30.0,1984-01-23,180.0,80.0,...,NaN,29.0,26.0,26.0,10.0,8.0,11.0,5.0,15.0,10162.0
3,3.1,41236.0,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,1.1,Zlatan Ibrahimović,32.0,1981-10-03,195.0,95.0,...,NaN,25.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0,10161.0
4,4.1,167495.0,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,82.0,Manuel Neuer,28.0,1986-03-27,193.0,92.0,...,NaN,25.0,25.0,25.0,87.0,85.0,92.0,90.0,86.0,10163.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10160,10160.0,215452.0,https://sofifa.com/player/215452/victor-da-sil...,V. Da Silva,41.0,Victor Matheus Da Silva,19.0,1995-01-04,178.0,60.0,...,NaN,25.0,25.0,25.0,13.0,4.1,6.0,9.0,13.0,440.5
10161,10161.0,215818.0,https://sofifa.com/player/215818/emerson-hyndm...,E. Hyndman,26.0,Emerson Hyndman,18.0,1996-04-09,170.0,61.0,...,NaN,48.0,56.0,53.0,14.0,11.0,6.0,6.0,11.0,375.5
10162,10162.0,223199.0,https://sofifa.com/player/223199/batuhan-altin...,B. Altintaş,71.0,Mustafa Batuhan Altıntaş,18.0,1996-03-14,187.0,76.0,...,NaN,29.0,30.0,25.0,6.0,7.0,13.0,14.0,11.0,440.5
10163,10163.0,224149.0,https://sofifa.com/player/224149/rubio-rubin/1...,R. Rubin,47.0,Rubio Yovani Méndez Rubin,18.0,1996-03-01,180.0,72.0,...,NaN,22.0,22.0,25.0,9.0,11.0,11.0,13.0,14.0,440.5
10164,10164.0,212613.0,https://sofifa.com/player/212613/wesley-said/1...,W. Saïd,29.0,Wesley Saïd,19.0,1995-04-19,171.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,391.0

In [ ]:
# df.rename( columns = {'weight_kg' : "weight in KG" })

In [118]:
df['pace'].fillna( df['pace'].mean(), inplace=True )
df['pace']

0        93.000000
1        93.000000
2        93.000000
3        76.000000
4        69.489232
           ...
10160    73.000000
10161    71.000000
10162    68.000000
10163    70.000000
10164    75.000000
Name: pace, Length: 10165, dtype: float64

In [120]:
df.groupby('nationality')['value_eur'].sum()

nationality
Albania                24545000
Algeria                69275000
Angola                  5900000
Antigua & Barbuda       1100000
Argentina            1255417000
                        ...
Uzbekistan              7325000
Venezuela              40825000
Wales                 106725000
Zambia                  4375000
Zimbabwe                5450000
Name: value_eur, Length: 145, dtype: int64

In [127]:
df.groupby(['nationality', 'league_rank'])['value_eur', 'wage_eur' ].agg([np.mean, np.median])

<ipython-input-127-84235ef15170>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['nationality', 'league_rank'])['value_eur', 'wage_eur' ].agg([np.mean, np.median])

                            value_eur                 wage_eur
                                 mean     median          mean   median
nationality league_rank
Albania     1.0          1.171944e+06   887500.0  17833.333333   9500.0
            2.0          5.750000e+05   525000.0   6500.000000   7000.0
Algeria     1.0          2.463542e+06  1600000.0  28916.666667  25000.0
            2.0          1.127778e+06   950000.0  16222.222222  10000.0
Angola      1.0          1.858333e+06  1900000.0  24666.666667  30000.0
...                               ...        ...           ...      ...
Wales       4.0          2.550000e+05   275000.0   2666.666667   3000.0
Zambia      1.0          9.583333e+05   925000.0  11000.000000   9000.0
            2.0          1.500000e+06  1500000.0  20000.000000  20000.0
Zimbabwe    1.0          8.541667e+05   637500.0  11500.000000   9500.0
            3.0          3.250000e+05   325000.0   5000.000000   5000.0

[270 rows x 4 columns]

In [129]:
df.value_eur.pct_change()

0             NaN
1       -0.213930
2       -0.310127
3       -0.036697
4        0.209524
           ...
10160    0.357143
10161   -0.157895
10162    0.187500
10163    0.000000
10164   -0.105263
Name: value_eur, Length: 10165, dtype: float64

In [134]:
print(df.count(0), df.count(1))

Unnamed: 0                 10165
sofifa_id                  10165
player_url                 10165
short_name                 10165
random_col                 10165
                           ...
goalkeeping_handling       10164
goalkeeping_kicking        10164
goalkeeping_positioning    10164
goalkeeping_reflexes       10164
rank_calc                  10165
Length: 83, dtype: int64 0        74
1        74
2        74
3        74
4        74
         ..
10160    70
10161    71
10162    70
10163    70
10164    38
Length: 10165, dtype: int64

In [139]:
df.league_rank.value_counts( ascending=False)

1.0    7675
2.0    1970
3.0     250
4.0      87
Name: league_rank, dtype: int64

In [144]:
pd.crosstab( df['league_rank'], df['international_reputation'], margins=True, margins_name='total', normalize=True)

international_reputation,1,2,3,4,5,total
league_rank,,,,,,
1.0,0.625526,0.116009,0.022741,0.003707,0.000902,0.768884
2.0,0.181026,0.016229,0.000100,0.000000,0.000000,0.197355
3.0,0.024845,0.000200,0.000000,0.000000,0.000000,0.025045
4.0,0.008616,0.000100,0.000000,0.000000,0.000000,0.008716
total,0.840012,0.132539,0.022841,0.003707,0.000902,1.000000

In [146]:
pd.qcut( df['value_eur'], q=5)

0        (2000000.0, 100500000.0]
1        (2000000.0, 100500000.0]
2        (2000000.0, 100500000.0]
3        (2000000.0, 100500000.0]
4        (2000000.0, 100500000.0]
                   ...
10160          (-0.001, 325000.0]
10161          (-0.001, 325000.0]
10162          (-0.001, 325000.0]
10163          (-0.001, 325000.0]
10164          (-0.001, 325000.0]
Name: value_eur, Length: 10165, dtype: category
Categories (5, interval[float64, right]): [(-0.001, 325000.0] < (325000.0, 525000.0] <
                                           (525000.0, 825000.0] < (825000.0, 2000000.0] <
                                           (2000000.0, 100500000.0]]

In [147]:
pd.qcut( df['value_eur'], q=5).value_counts()

(525000.0, 825000.0]        2108
(325000.0, 525000.0]        2061
(-0.001, 325000.0]          2050
(2000000.0, 100500000.0]    1983
(825000.0, 2000000.0]       1963
Name: value_eur, dtype: int64

In [149]:
pd.cut( df['value_eur'], bins=5).value_counts()

(-100500.0, 20100000.0]      10112
(20100000.0, 40200000.0]        40
(40200000.0, 60300000.0]        10
(60300000.0, 80400000.0]         2
(80400000.0, 100500000.0]        1
Name: value_eur, dtype: int64

In [150]:
df['wage_eur'].describe()

count     10165.000000
mean      19323.266109
std       27757.487879
min           0.000000
25%        5000.000000
50%        8000.000000
75%       25000.000000
max      550000.000000
Name: wage_eur, dtype: float64

In [157]:
# df.nlargest( 10, 'wage_eur')
df.nsmallest(5, "value_eur")

,Unnamed: 0,sofifa_id,player_url,short_name,random_col,long_name,age,dob,height_cm,weight_kg,...,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,rank_calc
151,151,209119,https://sofifa.com/player/209119/francisco-amo...,F. Amorebielsa,84,Francisco Amorebielsa,28,1985-10-27,194,83,...,NaN,81.0,84.0,83.0,15.0,5.0,12.0,6.0,12.0,121.0
283,283,178007,https://sofifa.com/player/178007/miguel-luis-p...,Miguel Veloso,78,Miguel Luís Pinto Veloso,28,1986-05-11,180,78,...,NaN,70.0,78.0,75.0,15.0,6.0,8.0,7.0,14.0,121.0
289,289,209097,https://sofifa.com/player/209097/omar-luis-car...,O. Cardosa,98,Omar Luis Cardosa,30,1983-11-26,188,84,...,NaN,30.0,32.0,34.0,12.0,7.0,6.0,14.0,11.0,121.0
424,424,209102,https://sofifa.com/player/209102/marco-aurelio...,M. Etxeberría,77,Marco Aurelio Etxeberría,27,1987-04-11,183,77,...,NaN,60.0,70.0,70.0,12.0,12.0,15.0,13.0,6.0,121.0
456,456,178416,https://sofifa.com/player/178416/jeremain-lens...,J. Lens,55,Jeremain Lens,26,1987-11-24,178,73,...,NaN,21.0,38.0,31.0,15.0,15.0,13.0,14.0,5.0,121.0

In [158]:
df1 = pd.DataFrame({"city": ['A', 'B', 'C'],
                   "day1": [22, 25, 21],
                   'day2':[31, 12, 67],
                   'day3': [27, 20, 15],
                   'day4': [34, 37, [41, 45, 67, 90, 21]],
                   'day5': [23, 54, 36]})
df1

  city  day1  day2  day3                  day4  day5
0    A    22    31    27                    34    23
1    B    25    12    20                    37    54
2    C    21    67    15  [41, 45, 67, 90, 21]    36

In [160]:
df1.explode( 'day4').reset_index( drop=True)

  city  day1  day2  day3 day4  day5
0    A    22    31    27   34    23
1    B    25    12    20   37    54
2    C    21    67    15   41    36
3    C    21    67    15   45    36
4    C    21    67    15   67    36
5    C    21    67    15   90    36
6    C    21    67    15   21    36